## This notebook takes the Land Use database 2016 file from the Austin Open Data Portal and reduces the file to a usealbe format

In [6]:
import geopandas as gpd
import os
wd = os.getcwd()
wd = wd[:wd.find('notebooks')]

In [7]:
acl = gpd.read_file(wd+'data/citylimits/citylimits.shp')
acl.crs = {'init': 'epsg:102739'}

In [8]:
acl

,city_name,jurisdicti,jurisdic_1,jurisdic_2,jurisdic_3,modified_f,objectid,shape_area,shape_leng,geometry
0,CITY OF AUSTIN,AUSTIN FULL PURPOSE,FULL,FULL PURPOSE,34.0,210.0,110.0,7.752723e+09,2.049691e+06,"POLYGON ((3086815.032605638 10026999.74263538,..."

In [9]:
#councilbound = gpd.read_file('https://data.austintexas.gov/api/geospatial/7sg9-qjmi?method=export&format=GeoJSON')
#councilbound['city'] = 'Austin'

In [10]:
#councilbound

In [11]:
landuse = gpd.read_file('https://data.austintexas.gov/api/geospatial/nuca-fzpt?method=export&format=GeoJSON')
landuse.crs = {'init': 'epsg:102739'}

In [12]:
landuse

,prop_id,previousge,py_owner_i,source,abs_subdv,entities,cnt_gislin,shape_area,basezone,legal_desc,...,land_use,ag_market,yr_built,appraised,land_state,coa_taxabl,total_imp,i35_side,hood_cd,geometry
0,100008,300,1600885,None,S13671,"0A, 01, 02, 03, 2J, 68",1,23512.0709392,General Commercial Services (CS),LOT 1-4 TEMPLER LOTS,...,300,0,2013,2211227,F1,2211227,94787,West,32SCN,(POLYGON ((-97.76175004493517 30.2546831022578...
1,100012,330,1518342,None,S03168,"0A, 01, 02, 03, 2J, 68",1,102588.556403,Multi-Family Residence Highest Density (MF-6),LOT 1A COMMERCIAL SQUARE RESUB & LOTS 5-7 OF T...,...,330,0,2013,45149000,B1,45149000,35915282,West,08SC,(POLYGON ((-97.76143821594194 30.2535324981955...
2,100013,300,1459227,None,S03167,"0A, 01, 02, 03, 2J, 68",1,59990.6694214,General Commercial Services (CS),LOT 3 COMMERCIAL SQUARE,...,300,0,1982,4762744,F1,4762744,68243,West,86SOU,(POLYGON ((-97.76159723143827 30.2532570839506...
3,100014,300,1709771,None,S03168,"0A, 01, 02, 03, 2J, 68",1,43786.6931204,General Commercial Services (CS),LOT 2A COMMERCIAL SQUARE RESUB,...,300,0,1983,3181377,F1,3181377,34644,West,83SOU,(POLYGON ((-97.76143821594194 30.2535324981955...
4,100015,300,100009,None,S08658,"0A, 01, 02, 03, 2J, 68",2,117564.546009,General Commercial Services (CS),LOT 5 LESS 830 SQ FT MAUFRAIS SUBD THE LOT 2&3...,...,300,0,2000,7051888,C1,6981888,266938,West,43SCN,(POLYGON ((-97.76363068195398 30.2525234633448...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265415,0,100,0,None,None,None,0,6786.85384854,Lake Austin Residence (LA),None,...,100,0,0,0,None,0,0,West,None,(POLYGON ((-97.91355779135991 30.3832628195057...
265416,0,100,0,None,None,None,0,1803469.10073,None,None,...,860,0,0,0,None,0,0,West,None,(POLYGON ((-97.80415662412005 30.2487113286068...
265417,0,800,0,None,None,None,0,110341.16919,None,None,...,810,0,0,0,None,0,0,West,None,(POLYGON ((-97.72112994156537 30.3887148565577...
265418,0,900,0,None,None,None,0,130859.259653,None,None,...,900,0,0,0,None,0,0,West,None,(POLYGON ((-97.68942081529111 30.1108059129018...
265419,0,100,0,None,None,None,0,4787.928064,None,None,...,100,0,0,0,None,0,0,West,None,(POLYGON ((-97.7924324891471 30.31262483749602...

In [13]:
#aus_landuse = gpd.overlay(landuse, council_districts.dissolve(by='city'), how='intersection')
#aus_landuse
landuse.head()

,prop_id,previousge,py_owner_i,source,abs_subdv,entities,cnt_gislin,shape_area,basezone,legal_desc,...,land_use,ag_market,yr_built,appraised,land_state,coa_taxabl,total_imp,i35_side,hood_cd,geometry
0,100008,300,1600885,None,S13671,"0A, 01, 02, 03, 2J, 68",1,23512.0709392,General Commercial Services (CS),LOT 1-4 TEMPLER LOTS,...,300,0,2013,2211227,F1,2211227,94787,West,32SCN,(POLYGON ((-97.76175004493517 30.2546831022578...
1,100012,330,1518342,None,S03168,"0A, 01, 02, 03, 2J, 68",1,102588.556403,Multi-Family Residence Highest Density (MF-6),LOT 1A COMMERCIAL SQUARE RESUB & LOTS 5-7 OF T...,...,330,0,2013,45149000,B1,45149000,35915282,West,08SC,(POLYGON ((-97.76143821594194 30.2535324981955...
2,100013,300,1459227,None,S03167,"0A, 01, 02, 03, 2J, 68",1,59990.6694214,General Commercial Services (CS),LOT 3 COMMERCIAL SQUARE,...,300,0,1982,4762744,F1,4762744,68243,West,86SOU,(POLYGON ((-97.76159723143827 30.2532570839506...
3,100014,300,1709771,None,S03168,"0A, 01, 02, 03, 2J, 68",1,43786.6931204,General Commercial Services (CS),LOT 2A COMMERCIAL SQUARE RESUB,...,300,0,1983,3181377,F1,3181377,34644,West,83SOU,(POLYGON ((-97.76143821594194 30.2535324981955...
4,100015,300,100009,None,S08658,"0A, 01, 02, 03, 2J, 68",2,117564.546009,General Commercial Services (CS),LOT 5 LESS 830 SQ FT MAUFRAIS SUBD THE LOT 2&3...,...,300,0,2000,7051888,C1,6981888,266938,West,43SCN,(POLYGON ((-97.76363068195398 30.2525234633448...

In [19]:
type(landuse)

geopandas.geodataframe.GeoDataFrame

In [17]:
acllu = gpd.overlay(landuse, acl, how='union')

In [18]:
acllu

,jurisdic_1,imprv_hstd,condoid,dba,appraised,propval_yr,eff_zone,previousge,lotsize,prop_type,...,previouslu,py_owner_i,situs,coa_taxabl,land_hstd,shape_area_1,shape_leng_1,shape_area_2,shape_leng_2,geometry
0,NaN,0,None,ODD DUCK,2211227,2017,Vertical Mixed Use (V),300,999999,R,...,300,1600885,1201 S LAMAR BLVD 78704,2211227,0,23512.0709392,635.162489873,NaN,NaN,POLYGON ((-97.76175004493517 30.25468310225788...
1,NaN,0,None,GIBSON FLATS,45149000,2017,Multi-Family Residence Highest Density (MF-6),330,999999,R,...,330,1518342,1219 S LAMAR BLVD 78704,45149000,0,102588.556403,1411.56478015,NaN,NaN,POLYGON ((-97.76143821594194 30.25353249819557...
2,NaN,0,None,GENIE CAR WASH,4762744,2017,Vertical Mixed Use (V),300,999999,R,...,300,1459227,1311 S LAMAR BLVD 78704,4762744,0,59990.6694214,1146.75840385,NaN,NaN,POLYGON ((-97.76159723143827 30.25325708395068...
3,NaN,0,None,AUSTIN AUTOMOTIVE SPECIALISTS,3181377,2017,Vertical Mixed Use (V),300,999999,R,...,300,1709771,1303 S LAMAR BLVD 78704,3181377,0,43786.6931204,1006.09520027,NaN,NaN,POLYGON ((-97.76143821594194 30.25353249819557...
4,NaN,0,None,LAMAR PLAZA,7051888,2017,Vertical Mixed Use (V),300,999999,R,...,300,100009,S LAMAR BLVD 78704,6981888,0,117564.546009,1774.31293579,NaN,NaN,POLYGON ((-97.76363068195398 30.25252346334481...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265416,NaN,0,None,None,0,0,None,100,999999,None,...,100,0,None,0,0,1803469.10073,8794.48469344,NaN,NaN,(POLYGON ((-97.50900541066335 30.3070210649064...
265417,NaN,0,None,None,0,0,None,800,999999,None,...,810,0,None,0,0,110341.16919,4090.76511131,NaN,NaN,POLYGON ((-97.72112994156537 30.38871485655777...
265418,NaN,0,None,None,0,0,None,900,999999,None,...,900,0,None,0,0,130859.259653,5860.69512145,NaN,NaN,(POLYGON ((-97.63297946617783 30.4134313216273...
265419,NaN,0,None,None,0,0,None,100,5750,None,...,100,0,None,0,0,4787.928064,423.306963968,NaN,NaN,"POLYGON ((-97.7924324891471 30.31262483749602,..."
265420,FULL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.752723e+09,2.049691e+06,"POLYGON ((3086815.032605638 10026999.74263538,..."