In [1]:
import geopandas as gpd
import pandas as pd
import os
import getpass
import matplotlib.pyplot as plt
import re

In [2]:
wd = os.getcwd()
wd = wd[:wd.find('notebooks')]

In [3]:
#landuse = gpd.read_file(wd+"data//")
cbg = gpd.read_file(wd+"data/censusblockgroups/cbg.shp")
pop = pd.read_excel(wd+"data/censustables/ACS_17_5yr_totalpop_allcounties.xlsx")
race = pd.read_excel(wd+"data/censustables/ACS_17_5yr_race_includinglatinx.xlsx")
parks = gpd.read_file(wd+"data/coaparks/BOUNDARIES_city_of_austin_parks.shp")
halfbuf = gpd.read_file(wd+"data/coaparks_buffer/halfbuff.shp")
quarbuf = gpd.read_file(wd+"data/coaparks_buffer/quarterbuff.shp")
varibuf = gpd.read_file(wd+"data/coaparks_buffer/varibuff.shp")

In [4]:
cbg.head()

   FID                                           geometry
0    0  (POLYGON ((3069238.317597136 10028016.96124339...
1    1  POLYGON ((3093548.488136798 10008631.07120948,...
2    2  POLYGON ((3111310.38010639 10089474.08471997, ...
3    3  POLYGON ((3109356.370562971 10091521.99532232,...
4    4  POLYGON ((3110878.498096138 10085236.13059747,...

In [5]:
pop.head()

                      Id           Id2  Estimate; Total
0  1500000US482090101001  482090101001             1197
1  1500000US482090101002  482090101002             1174
2  1500000US482090102001  482090102001              870
3  1500000US482090102002  482090102002             3914
4  1500000US482090102003  482090102003             1207