In [1]:
import geopandas as gpd
import pandas as pd
import os
import getpass
import matplotlib.pyplot as plt

### NOTES:

###### Bring in necessary geojson files and set your projection for all files

In [2]:
wd = os.getcwd()
wd = wd[:wd.find('notebooks')]

#crs is set for Central Texas; https://epsg.io/6578; 
crs =  {'init' :'epsg:6578'}

#parks = gpd.read_file(wd+"data/coaparks/parkboundaries.geojson")
#parks = parks.to_crs(crs).explode().reset_index()

varibuff = gpd.read_file(wd+"data/coaparks_buffer/varibuff.shp")
varibuff.crs={'init' :'epsg:6578'}

pop = gpd.read_file(wd+"data/blockgroups_censusdata/popmerge.shp")
pop = pop.to_crs(crs).reset_index()

race = gpd.read_file(wd+"data/blockgroups_censusdata/racemerge.shp")
race = race.to_crs(crs).reset_index()

income = gpd.read_file(wd+"data/blockgroups_censusdata/incomemerge.shp")
income = income.to_crs(crs).reset_index()

age = gpd.read_file(wd+"data/blockgroups_censusdata/agemerge.shp")
age = age.to_crs(crs).reset_index()

##### Check your projections
https://geopandas.org/projections.html

In [3]:
#varibuff.crs

In [4]:
#pop.crs

In [5]:
#race.crs

In [6]:
#age.crs

###### Preview the files and clean the data

In [7]:
pop['fullarea_pop'] = pop['geometry'].area
#pop.head()

In [8]:
race['fullarea_race'] = race['geometry'].area
#race.head()

In [9]:
income['fullarea_income'] = income['geometry'].area
#income.head()

In [10]:
age['fullarea_age'] = age['geometry'].area
#age.head()

In [11]:
varibuff['fullarea_buff'] = varibuff['geometry'].area
#varibuff.head()

### <font color=green>Run spatial analysis on the amount of people distributed within a census block group against the varied mile park buffer area and the race census data</font>

In [12]:
rp_intersection = gpd.overlay(race, varibuff, how='intersection') #https://geopandas.org/set_operations.html
rp_intersection['area_intersec'] = rp_intersection['geometry'].area
rp_intersection.to_file(wd+"data/access/rp_intersec_varibuff_ACS17.shp")
rp_intersection

,level_0,index,GEOID10,ALAND10,AWATER10,area_ft,area_acres,jurisdic_3,modified_f,objectid,...,GLOBALID,CREATED_BY,CREATED_DA,MODIFIED_B,MODIFIED_D,Shape__Are,Shape__Len,fullarea_buff,geometry,area_intersec
1,0,0,482090109011,14489039.0,0.0,1.559551e+08,3580.237,306.0,1890.0,990.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,1.490921e+07,25043.166617,2.547210e+09,"POLYGON ((3069238.317597141 10028016.9612432, ...",3.246546e+06
7,1,1,482090109081,171531.0,0.0,1.846354e+06,42.386,68.0,420.0,220.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,1.490921e+07,25043.166617,2.547210e+09,"POLYGON ((3093548.488136804 10008631.07120929,...",1.837684e+03
2058,77,77,484530013041,648074.0,0.0,6.975364e+06,160.131,374.0,2310.0,1210.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,1.490921e+07,25043.166617,2.547210e+09,"POLYGON ((3104429.626151387 10059671.90744762,...",1.629315e+06
2329,85,85,484530013071,645703.0,0.0,6.949845e+06,159.547,442.0,2730.0,1430.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,1.490921e+07,25043.166617,2.547210e+09,"POLYGON ((3106245.881705231 10055451.60059952,...",6.949845e+06
2387,87,87,484530013073,691226.0,0.0,7.439808e+06,170.795,510.0,3150.0,1650.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,1.490921e+07,25043.166617,2.547210e+09,"POLYGON ((3105576.698332313 10059980.97474288,...",4.126300e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9417,556,556,484910205101,4745633.0,1268.0,5.108690e+07,1172.794,1190.0,7350.0,3850.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,2.473250e+06,15477.589042,6.742859e+08,"POLYGON ((3105356.685648966 10148942.41788262,...",3.399377e+07
9419,557,557,484910205103,346320.0,0.0,3.727163e+06,85.565,340.0,2100.0,1100.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,2.473250e+06,15477.589042,6.742859e+08,"POLYGON ((3104338.228040222 10151913.94934112,...",3.727163e+06
9411,552,552,484910205081,4018118.0,2409.0,4.326969e+07,993.336,340.0,2100.0,1100.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,6.289057e+05,3819.975953,1.025997e+07,"POLYGON ((3103070.9294554 10151562.85760724, 3...",4.403025e+06
9416,556,556,484910205101,4745633.0,1268.0,5.108690e+07,1172.794,1190.0,7350.0,3850.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,6.289057e+05,3819.975953,1.025997e+07,(POLYGON ((3105356.685648966 10148942.41788262...,4.356998e+06
9418,557,557,484910205103,346320.0,0.0,3.727163e+06,85.565,340.0,2100.0,1100.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,6.289057e+05,3819.975953,1.025997e+07,"POLYGON ((3104338.228040222 10151913.94934112,...",1.499946e+06

In [13]:
#rp_intersection.crs

In [14]:
#rp_intersection.columns

In [15]:
rp_intersection[['GEOID10','Total_POP_','fullarea_race','LOCATION_N','fullarea_buff','area_intersec','geometry']]

,GEOID10,Total_POP_,fullarea_race,LOCATION_N,fullarea_buff,area_intersec,geometry
1,482090109011,322,2.280497e+07,Mary Moore Searight Metro Park,2.547210e+09,3.246546e+06,"POLYGON ((3069238.317597141 10028016.9612432, ..."
7,482090109081,3,1.837684e+03,Mary Moore Searight Metro Park,2.547210e+09,1.837684e+03,"POLYGON ((3093548.488136804 10008631.07120929,..."
2058,484530013041,1336,6.975364e+06,Mary Moore Searight Metro Park,2.547210e+09,1.629315e+06,"POLYGON ((3104429.626151387 10059671.90744762,..."
2329,484530013071,927,6.949845e+06,Mary Moore Searight Metro Park,2.547210e+09,6.949845e+06,"POLYGON ((3106245.881705231 10055451.60059952,..."
2387,484530013073,2289,7.439808e+06,Mary Moore Searight Metro Park,2.547210e+09,4.126300e+06,"POLYGON ((3105576.698332313 10059980.97474288,..."
...,...,...,...,...,...,...,...
9417,484910205101,3181,3.462268e+07,Brushy Creek Greenbelt,6.742859e+08,3.399377e+07,"POLYGON ((3105356.685648966 10148942.41788262,..."
9419,484910205103,928,3.727163e+06,Brushy Creek Greenbelt,6.742859e+08,3.727163e+06,"POLYGON ((3104338.228040222 10151913.94934112,..."
9411,484910205081,3212,3.682212e+07,Davis Spring Special Park,1.025997e+07,4.403025e+06,"POLYGON ((3103070.9294554 10151562.85760724, 3..."
9416,484910205101,3181,3.462268e+07,Davis Spring Special Park,1.025997e+07,4.356998e+06,(POLYGON ((3105356.685648966 10148942.41788262...
9418,484910205103,928,3.727163e+06,Davis Spring Special Park,1.025997e+07,1.499946e+06,"POLYGON ((3104338.228040222 10151913.94934112,..."

In [16]:
race_clip=rp_intersection.copy()

for val in race_clip:

    race_clip['weight'] = race_clip['area_intersec']/ race_clip['fullarea_race']
    
    race_clip['access_pop'] = race_clip['weight'] * race_clip['Total_POP_']
    race_clip['access_nonhis'] = race_clip['weight'] * race_clip['Not Hispan']
    race_clip['access_white'] = race_clip['weight'] * race_clip['White; Not']
    race_clip['access_his_lat'] = race_clip['weight'] * race_clip['Hispanic o']

race_clip.head()

,level_0,index,GEOID10,ALAND10,AWATER10,area_ft,area_acres,jurisdic_3,modified_f,objectid,...,MODIFIED_D,Shape__Are,Shape__Len,fullarea_buff,geometry,area_intersec,access_pop,access_nonhis,access_white,access_his_lat
1,0,0,482090109011,14489039.0,0.0,1.559551e+08,3580.237,306.0,1890.0,990.0,...,2019-10-12,1.490921e+07,25043.166617,2.547210e+09,"POLYGON ((3069238.317597141 10028016.9612432, ...",3.246546e+06,45.840364,253.972700,232.333771,59.934141
7,1,1,482090109081,171531.0,0.0,1.846354e+06,42.386,68.0,420.0,220.0,...,2019-10-12,1.490921e+07,25043.166617,2.547210e+09,"POLYGON ((3093548.488136804 10008631.07120929,...",1.837684e+03,3.000000,1267.000000,1080.000000,2507.000000
2058,77,77,484530013041,648074.0,0.0,6.975364e+06,160.131,374.0,2310.0,1210.0,...,2019-10-12,1.490921e+07,25043.166617,2.547210e+09,"POLYGON ((3104429.626151387 10059671.90744762,...",1.629315e+06,312.064715,229.376909,219.566491,82.921388
2329,85,85,484530013071,645703.0,0.0,6.949845e+06,159.547,442.0,2730.0,1430.0,...,2019-10-12,1.490921e+07,25043.166617,2.547210e+09,"POLYGON ((3106245.881705231 10055451.60059952,...",6.949845e+06,927.000000,721.000000,627.000000,207.000000
2387,87,87,484530013073,691226.0,0.0,7.439808e+06,170.795,510.0,3150.0,1650.0,...,2019-10-12,1.490921e+07,25043.166617,2.547210e+09,"POLYGON ((3105576.698332313 10059980.97474288,...",4.126300e+06,1269.535496,846.911622,603.431463,423.178499

In [17]:
#race_clip.columns

In [18]:
race_calc = race_clip[['LOCATION_N', 'Total_POP_','access_pop', 'access_nonhis','access_white', 'access_his_lat','area_intersec','geometry']]
access_data = race_calc.dissolve(by='LOCATION_N',as_index=False, aggfunc='sum')

In [19]:
access_data

,LOCATION_N,geometry,Total_POP_,access_pop,access_nonhis,access_white,access_his_lat,area_intersec
0,A.B. Dittmar Neighborhood Park,"POLYGON ((3101845.883075725 10039503.09732532,...",31622,16783.769386,10142.610696,8487.716291,6660.070943,1.013798e+08
1,Adams-Hemphill Neighborhood Park,(POLYGON ((3109150.290308812 10080919.70745493...,53752,40013.704122,33750.678913,24723.496263,6275.142277,1.060924e+08
2,Agave Neighborhood Park,"POLYGON ((3146370.305701126 10075209.27112355,...",19426,8183.543173,2520.074782,996.805771,6514.803529,8.855976e+07
3,Alamo Pocket Park,"POLYGON ((3122655.295172911 10075520.37048018,...",6557,1125.732090,1002.439231,736.495784,123.540364,6.974684e+06
4,Alderbrook Pocket Park,"POLYGON ((3128917.516225351 10124262.76067684,...",5329,2303.375334,1707.181710,1362.143073,597.158742,7.023673e+06
...,...,...,...,...,...,...,...,...
270,Wooten Neighborhood Park,"POLYGON ((3126174.126024226 10102802.86995263,...",39322,22698.228458,11613.161767,9393.282774,11091.689911,9.787982e+07
271,Wunneburger Neighborhood Park,(POLYGON ((3095156.226719216 10021252.69393206...,8734,2338.100265,2642.597338,2318.652269,1568.428462,3.618946e+07
272,Yates Pocket Park,"POLYGON ((3128555.312776149 10058188.62391765,...",8794,1380.651306,576.955867,173.649796,803.745633,5.434093e+06
273,Yett Creek Neighborhood Park,"POLYGON ((3114971.34041626 10117988.44743733, ...",65804,37356.741331,37440.004149,28643.691402,6613.878541,2.910837e+08
274,Zilker Metro Park,(POLYGON ((3088236.785038692 10046683.90880718...,393386,320119.702013,226930.509196,180495.979079,106311.855675,1.928868e+09

##### Combine the park area data to the access data

In [20]:
parks_ = varibuff[['LOCATION_N','ASSET_SIZE']].copy()

In [21]:
parks_

                              LOCATION_N  ASSET_SIZE
0           Stratford Overlook Greenbelt     0.07000
1             Highland Neighborhood Park     0.24100
2                Palma Plaza Pocket Park     0.20660
3               Oertli Neighborhood Park     6.00000
4    Peace Point at Town Lake Metro Park     5.46669
..                                   ...         ...
273  South Austin Senior Activity Center     4.63000
274          Red Bluff Neighborhood Park     7.19600
275        MLK Station Neighborhood Park     7.91700
276               Garrison District Park    40.00000
277            Davis Spring Special Park    14.47200

[278 rows x 2 columns]

In [22]:
access_data = access_data.merge(parks_, on='LOCATION_N')

In [23]:
access_data

,LOCATION_N,geometry,Total_POP_,access_pop,access_nonhis,access_white,access_his_lat,area_intersec,ASSET_SIZE
0,A.B. Dittmar Neighborhood Park,"POLYGON ((3101845.883075725 10039503.09732532,...",31622,16783.769386,10142.610696,8487.716291,6660.070943,1.013798e+08,12.690000
1,Adams-Hemphill Neighborhood Park,(POLYGON ((3109150.290308812 10080919.70745493...,53752,40013.704122,33750.678913,24723.496263,6275.142277,1.060924e+08,9.310000
2,Agave Neighborhood Park,"POLYGON ((3146370.305701126 10075209.27112355,...",19426,8183.543173,2520.074782,996.805771,6514.803529,8.855976e+07,16.360000
3,Alamo Pocket Park,"POLYGON ((3122655.295172911 10075520.37048018,...",6557,1125.732090,1002.439231,736.495784,123.540364,6.974684e+06,1.820000
4,Alderbrook Pocket Park,"POLYGON ((3128917.516225351 10124262.76067684,...",5329,2303.375334,1707.181710,1362.143073,597.158742,7.023673e+06,1.900000
...,...,...,...,...,...,...,...,...,...
271,Wooten Neighborhood Park,"POLYGON ((3126174.126024226 10102802.86995263,...",39322,22698.228458,11613.161767,9393.282774,11091.689911,9.787982e+07,6.280000
272,Wunneburger Neighborhood Park,(POLYGON ((3095156.226719216 10021252.69393206...,8734,2338.100265,2642.597338,2318.652269,1568.428462,3.618946e+07,23.510000
273,Yates Pocket Park,"POLYGON ((3128555.312776149 10058188.62391765,...",8794,1380.651306,576.955867,173.649796,803.745633,5.434093e+06,0.933800
274,Yett Creek Neighborhood Park,"POLYGON ((3114971.34041626 10117988.44743733, ...",65804,37356.741331,37440.004149,28643.691402,6613.878541,2.910837e+08,40.545000
275,Zilker Metro Park,(POLYGON ((3088236.785038692 10046683.90880718...,393386,320119.702013,226930.509196,180495.979079,106311.855675,1.928868e+09,307.849066

##### The population served by parks is nomalized by dividing the population served by the area of the park for which they are being served

In [24]:
access_data['Normalized_byArea'] = access_data['access_pop']/access_data['ASSET_SIZE']
access_data['Normalized_nonhis'] = access_data['access_nonhis']/access_data['ASSET_SIZE']
access_data['Normalized_white'] = access_data['access_white']/access_data['ASSET_SIZE']
access_data['Normalized_hislat'] = access_data['access_his_lat']/access_data['ASSET_SIZE']

In [25]:
access_data.to_file(wd+"data/access/access_data_race_varibuff_ACS17.shp")
access_data

,LOCATION_N,geometry,Total_POP_,access_pop,access_nonhis,access_white,access_his_lat,area_intersec,ASSET_SIZE,Normalized_byArea,Normalized_nonhis,Normalized_white,Normalized_hislat
0,A.B. Dittmar Neighborhood Park,"POLYGON ((3101845.883075725 10039503.09732532,...",31622,16783.769386,10142.610696,8487.716291,6660.070943,1.013798e+08,12.690000,1322.598060,799.260102,668.850772,524.828286
1,Adams-Hemphill Neighborhood Park,(POLYGON ((3109150.290308812 10080919.70745493...,53752,40013.704122,33750.678913,24723.496263,6275.142277,1.060924e+08,9.310000,4297.927403,3625.207187,2655.584991,674.021727
2,Agave Neighborhood Park,"POLYGON ((3146370.305701126 10075209.27112355,...",19426,8183.543173,2520.074782,996.805771,6514.803529,8.855976e+07,16.360000,500.216575,154.038801,60.929448,398.215375
3,Alamo Pocket Park,"POLYGON ((3122655.295172911 10075520.37048018,...",6557,1125.732090,1002.439231,736.495784,123.540364,6.974684e+06,1.820000,618.534115,550.790787,404.668013,67.879321
4,Alderbrook Pocket Park,"POLYGON ((3128917.516225351 10124262.76067684,...",5329,2303.375334,1707.181710,1362.143073,597.158742,7.023673e+06,1.900000,1212.302807,898.516689,716.917407,314.294075
...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,Wooten Neighborhood Park,"POLYGON ((3126174.126024226 10102802.86995263,...",39322,22698.228458,11613.161767,9393.282774,11091.689911,9.787982e+07,6.280000,3614.367589,1849.229581,1495.745665,1766.192661
272,Wunneburger Neighborhood Park,(POLYGON ((3095156.226719216 10021252.69393206...,8734,2338.100265,2642.597338,2318.652269,1568.428462,3.618946e+07,23.510000,99.451309,112.403119,98.624086,66.713248
273,Yates Pocket Park,"POLYGON ((3128555.312776149 10058188.62391765,...",8794,1380.651306,576.955867,173.649796,803.745633,5.434093e+06,0.933800,1478.529991,617.858072,185.960373,860.725672
274,Yett Creek Neighborhood Park,"POLYGON ((3114971.34041626 10117988.44743733, ...",65804,37356.741331,37440.004149,28643.691402,6613.878541,2.910837e+08,40.545000,921.364936,923.418526,706.466677,163.124394
275,Zilker Metro Park,(POLYGON ((3088236.785038692 10046683.90880718...,393386,320119.702013,226930.509196,180495.979079,106311.855675,1.928868e+09,307.849066,1039.859259,737.148603,586.313226,345.337593

#### A dataframe is created with the 'acess_data' geoshapefile. This dataframe is cleaned up and the values are convereted into integers. Finally, we export the dataframe into a csv file and a shapefile.

In [26]:
df = pd.DataFrame(access_data)

df['Park_Name']=df['LOCATION_N']
df['Total_Pop_Served'] = df['access_pop'].astype(int)
df['Normalized_byArea'] = df['Normalized_byArea'].astype(int)
df['Non_Hispan'] = df['access_nonhis'].astype(int)
df['Normalized_nonhis'] = df['Normalized_nonhis'].astype(int)
df['White'] = df['access_white'].astype(int)
df['Normalized_white'] = df['Normalized_white'].astype(int)
df['Hispan_Latin'] = df['access_his_lat'].astype(int)
df['Normalized_hislat'] = df['Normalized_hislat'].astype(int)

df.head()

,LOCATION_N,geometry,Total_POP_,access_pop,access_nonhis,access_white,access_his_lat,area_intersec,ASSET_SIZE,Normalized_byArea,Normalized_nonhis,Normalized_white,Normalized_hislat,Park_Name,Total_Pop_Served,Non_Hispan,White,Hispan_Latin
0,A.B. Dittmar Neighborhood Park,"POLYGON ((3101845.883075725 10039503.09732532,...",31622,16783.769386,10142.610696,8487.716291,6660.070943,1.013798e+08,12.69,1322,799,668,524,A.B. Dittmar Neighborhood Park,16783,10142,8487,6660
1,Adams-Hemphill Neighborhood Park,(POLYGON ((3109150.290308812 10080919.70745493...,53752,40013.704122,33750.678913,24723.496263,6275.142277,1.060924e+08,9.31,4297,3625,2655,674,Adams-Hemphill Neighborhood Park,40013,33750,24723,6275
2,Agave Neighborhood Park,"POLYGON ((3146370.305701126 10075209.27112355,...",19426,8183.543173,2520.074782,996.805771,6514.803529,8.855976e+07,16.36,500,154,60,398,Agave Neighborhood Park,8183,2520,996,6514
3,Alamo Pocket Park,"POLYGON ((3122655.295172911 10075520.37048018,...",6557,1125.732090,1002.439231,736.495784,123.540364,6.974684e+06,1.82,618,550,404,67,Alamo Pocket Park,1125,1002,736,123
4,Alderbrook Pocket Park,"POLYGON ((3128917.516225351 10124262.76067684,...",5329,2303.375334,1707.181710,1362.143073,597.158742,7.023673e+06,1.90,1212,898,716,314,Alderbrook Pocket Park,2303,1707,1362,597

Export to Shapefile

In [27]:
access_race_final = df.copy().drop(columns=['access_pop','access_nonhis','access_white','access_his_lat'])
access_race_final = gpd.GeoDataFrame(access_race_final, geometry='geometry')
access_race_final.to_file(wd+"data/access/access_race_final_varibuff_ACS17.shp")
access_race_final.head()

,LOCATION_N,geometry,Total_POP_,area_intersec,ASSET_SIZE,Normalized_byArea,Normalized_nonhis,Normalized_white,Normalized_hislat,Park_Name,Total_Pop_Served,Non_Hispan,White,Hispan_Latin
0,A.B. Dittmar Neighborhood Park,"POLYGON ((3101845.883075725 10039503.09732532,...",31622,1.013798e+08,12.69,1322,799,668,524,A.B. Dittmar Neighborhood Park,16783,10142,8487,6660
1,Adams-Hemphill Neighborhood Park,(POLYGON ((3109150.290308812 10080919.70745493...,53752,1.060924e+08,9.31,4297,3625,2655,674,Adams-Hemphill Neighborhood Park,40013,33750,24723,6275
2,Agave Neighborhood Park,"POLYGON ((3146370.305701126 10075209.27112355,...",19426,8.855976e+07,16.36,500,154,60,398,Agave Neighborhood Park,8183,2520,996,6514
3,Alamo Pocket Park,"POLYGON ((3122655.295172911 10075520.37048018,...",6557,6.974684e+06,1.82,618,550,404,67,Alamo Pocket Park,1125,1002,736,123
4,Alderbrook Pocket Park,"POLYGON ((3128917.516225351 10124262.76067684,...",5329,7.023673e+06,1.90,1212,898,716,314,Alderbrook Pocket Park,2303,1707,1362,597

Export to CSV

In [28]:
access_racetable = df.drop(columns=['access_pop','access_nonhis','access_white','access_his_lat', 'geometry'])
access_racetable.to_csv(wd+"data/access/access_table_race_varibuff_ACS17.csv")
access_racetable.head()

,LOCATION_N,Total_POP_,area_intersec,ASSET_SIZE,Normalized_byArea,Normalized_nonhis,Normalized_white,Normalized_hislat,Park_Name,Total_Pop_Served,Non_Hispan,White,Hispan_Latin
0,A.B. Dittmar Neighborhood Park,31622,1.013798e+08,12.69,1322,799,668,524,A.B. Dittmar Neighborhood Park,16783,10142,8487,6660
1,Adams-Hemphill Neighborhood Park,53752,1.060924e+08,9.31,4297,3625,2655,674,Adams-Hemphill Neighborhood Park,40013,33750,24723,6275
2,Agave Neighborhood Park,19426,8.855976e+07,16.36,500,154,60,398,Agave Neighborhood Park,8183,2520,996,6514
3,Alamo Pocket Park,6557,6.974684e+06,1.82,618,550,404,67,Alamo Pocket Park,1125,1002,736,123
4,Alderbrook Pocket Park,5329,7.023673e+06,1.90,1212,898,716,314,Alderbrook Pocket Park,2303,1707,1362,597

Descriptive Statistics

In [29]:
Race_access_stats = access_racetable.describe()
Race_access_stats.to_csv(wd+"data/access/access_stats_race_varibuff_ACS17.csv")
Race_access_stats

,Total_POP_,area_intersec,ASSET_SIZE,Normalized_byArea,Normalized_nonhis,Normalized_white,Normalized_hislat,Total_Pop_Served,Non_Hispan,White,Hispan_Latin
count,276.000000,2.760000e+02,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000
mean,43645.376812,1.784016e+08,47.929941,4012.503623,3250.463768,2680.460145,1094.159420,26742.695652,18368.514493,13874.336957,10419.525362
std,55633.809401,2.985062e+08,160.834132,20360.308848,22047.910090,19439.522596,3260.368002,43824.413003,30084.109638,23294.518556,19548.493206
min,1244.000000,3.826293e+06,0.068466,2.000000,0.000000,0.000000,2.000000,293.000000,80.000000,43.000000,10.000000
25%,7776.000000,8.057744e+06,3.009791,385.750000,268.500000,184.000000,113.750000,1435.000000,1052.750000,857.250000,549.000000
50%,28631.500000,8.913728e+07,7.650000,1094.000000,718.500000,540.500000,313.500000,13411.500000,9082.500000,6078.500000,3168.500000
75%,50395.250000,2.388533e+08,20.116843,2679.250000,1707.250000,1388.750000,789.500000,26443.750000,19387.500000,14858.750000,11745.250000
max,393386.000000,2.048063e+09,1885.441896,315751.000000,356840.000000,315548.000000,34542.000000,320119.000000,226930.000000,180495.000000,130171.000000

In [30]:
#access_racetable.hist('');

##  <font color=goldenrod>Run spatial analysis on the amount of people distributed within a census block group against the varied buff mile park buffer area and the income census data</font>

In [31]:
ip_intersection = gpd.overlay(income, varibuff, how='intersection') #https://geopandas.org/set_operations.html
ip_intersection['iarea_intersec'] = ip_intersection['geometry'].area
ip_intersection.to_file(wd+"data/access/ip_intersec_varibuff_ACS17.shp")
ip_intersection

,level_0,index,GEOID10,ALAND10,AWATER10,area_ft,area_acres,jurisdic_3,modified_f,objectid,...,GLOBALID,CREATED_BY,CREATED_DA,MODIFIED_B,MODIFIED_D,Shape__Are,Shape__Len,fullarea_buff,geometry,iarea_intersec
1,0,0,482090109011,14489039.0,0.0,1.559551e+08,3580.237,306.0,1890.0,990.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,1.490921e+07,25043.166617,2.547210e+09,"POLYGON ((3069238.317597141 10028016.9612432, ...",3.246546e+06
7,1,1,482090109081,171531.0,0.0,1.846354e+06,42.386,68.0,420.0,220.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,1.490921e+07,25043.166617,2.547210e+09,"POLYGON ((3093548.488136804 10008631.07120929,...",1.837684e+03
2058,77,77,484530013041,648074.0,0.0,6.975364e+06,160.131,374.0,2310.0,1210.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,1.490921e+07,25043.166617,2.547210e+09,"POLYGON ((3104429.626151387 10059671.90744762,...",1.629315e+06
2329,85,85,484530013071,645703.0,0.0,6.949845e+06,159.547,442.0,2730.0,1430.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,1.490921e+07,25043.166617,2.547210e+09,"POLYGON ((3106245.881705231 10055451.60059952,...",6.949845e+06
2387,87,87,484530013073,691226.0,0.0,7.439808e+06,170.795,510.0,3150.0,1650.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,1.490921e+07,25043.166617,2.547210e+09,"POLYGON ((3105576.698332313 10059980.97474288,...",4.126300e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9417,556,556,484910205101,4745633.0,1268.0,5.108690e+07,1172.794,1190.0,7350.0,3850.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,2.473250e+06,15477.589042,6.742859e+08,"POLYGON ((3105356.685648966 10148942.41788262,...",3.399377e+07
9419,557,557,484910205103,346320.0,0.0,3.727163e+06,85.565,340.0,2100.0,1100.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,2.473250e+06,15477.589042,6.742859e+08,"POLYGON ((3104338.228040222 10151913.94934112,...",3.727163e+06
9411,552,552,484910205081,4018118.0,2409.0,4.326969e+07,993.336,340.0,2100.0,1100.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,6.289057e+05,3819.975953,1.025997e+07,"POLYGON ((3103070.9294554 10151562.85760724, 3...",4.403025e+06
9416,556,556,484910205101,4745633.0,1268.0,5.108690e+07,1172.794,1190.0,7350.0,3850.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,6.289057e+05,3819.975953,1.025997e+07,(POLYGON ((3105356.685648966 10148942.41788262...,4.356998e+06
9418,557,557,484910205103,346320.0,0.0,3.727163e+06,85.565,340.0,2100.0,1100.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,6.289057e+05,3819.975953,1.025997e+07,"POLYGON ((3104338.228040222 10151913.94934112,...",1.499946e+06

In [32]:
#ip_intersection.columns

In [33]:
ip_intersection[['GEOID10','Total_Pop','fullarea_income','LOCATION_N','fullarea_buff','iarea_intersec','geometry']]

,GEOID10,Total_Pop,fullarea_income,LOCATION_N,fullarea_buff,iarea_intersec,geometry
1,482090109011,772,2.280497e+07,Mary Moore Searight Metro Park,2.547210e+09,3.246546e+06,"POLYGON ((3069238.317597141 10028016.9612432, ..."
7,482090109081,1253,1.837684e+03,Mary Moore Searight Metro Park,2.547210e+09,1.837684e+03,"POLYGON ((3093548.488136804 10008631.07120929,..."
2058,484530013041,656,6.975364e+06,Mary Moore Searight Metro Park,2.547210e+09,1.629315e+06,"POLYGON ((3104429.626151387 10059671.90744762,..."
2329,484530013071,575,6.949845e+06,Mary Moore Searight Metro Park,2.547210e+09,6.949845e+06,"POLYGON ((3106245.881705231 10055451.60059952,..."
2387,484530013073,1025,7.439808e+06,Mary Moore Searight Metro Park,2.547210e+09,4.126300e+06,"POLYGON ((3105576.698332313 10059980.97474288,..."
...,...,...,...,...,...,...,...
9417,484910205101,1366,3.462268e+07,Brushy Creek Greenbelt,6.742859e+08,3.399377e+07,"POLYGON ((3105356.685648966 10148942.41788262,..."
9419,484910205103,297,3.727163e+06,Brushy Creek Greenbelt,6.742859e+08,3.727163e+06,"POLYGON ((3104338.228040222 10151913.94934112,..."
9411,484910205081,1733,3.682212e+07,Davis Spring Special Park,1.025997e+07,4.403025e+06,"POLYGON ((3103070.9294554 10151562.85760724, 3..."
9416,484910205101,1366,3.462268e+07,Davis Spring Special Park,1.025997e+07,4.356998e+06,(POLYGON ((3105356.685648966 10148942.41788262...
9418,484910205103,297,3.727163e+06,Davis Spring Special Park,1.025997e+07,1.499946e+06,"POLYGON ((3104338.228040222 10151913.94934112,..."

In [34]:
ip_intersection.columns

Index(['level_0', 'index', 'GEOID10', 'ALAND10', 'AWATER10', 'area_ft',
       'area_acres', 'jurisdic_3', 'modified_f', 'objectid',
       ...
       'GLOBALID', 'CREATED_BY', 'CREATED_DA', 'MODIFIED_B', 'MODIFIED_D',
       'Shape__Are', 'Shape__Len', 'fullarea_buff', 'geometry',
       'iarea_intersec'],
      dtype='object', length=107)

In [35]:
income_clip=ip_intersection.copy()

for val in income_clip:

    income_clip['weight'] = income_clip['iarea_intersec']/ income_clip['fullarea_income']
    
    income_clip['access_by_income_TotalPop'] = income_clip['weight'] * income_clip['Total_Pop']
    
    income_clip['Less than $25,000'] = (income_clip['weight'] * income_clip['Less than'])\
                                        +(income_clip['weight'] * income_clip['$10,000 to'])\
                                        +(income_clip['weight'] * income_clip['$15,000 to'])\
                                        +(income_clip['weight'] * income_clip['$20,000 to'])
    
    income_clip['$25,000 to $49,999'] = (income_clip['weight'] * income_clip['$25,000 to'])\
                                        +(income_clip['weight'] * income_clip['$30,000 to'])\
                                        +(income_clip['weight'] * income_clip['$35,000 to'])\
                                        +(income_clip['weight'] * income_clip['$40,000 to'])\
                                        +(income_clip['weight'] * income_clip['$45,000 to'])\
    
    income_clip['$50,000 to $74,999'] = (income_clip['weight'] * income_clip['$50,000 to'])\
                                        +(income_clip['weight'] * income_clip['$60,000 to'])\
    
    income_clip['$75,000 to $99,999'] = (income_clip['weight'] * income_clip['$75,000 to'])
    
    income_clip['$100,000 to $149,999'] = (income_clip['weight'] * income_clip['$100,000 t'])\
                                            +(income_clip['weight'] * income_clip['$125,000 t'])\
    
    income_clip['$150,000 or more'] = (income_clip['weight'] * income_clip['$150,000 t'])\
                                        +(income_clip['weight'] * income_clip['$200,000 o'])\
    
income_clip.head()

,level_0,index,GEOID10,ALAND10,AWATER10,area_ft,area_acres,jurisdic_3,modified_f,objectid,...,fullarea_buff,geometry,iarea_intersec,access_by_income_TotalPop,"Less than $25,000","$25,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 or more"
1,0,0,482090109011,14489039.0,0.0,1.559551e+08,3580.237,306.0,1890.0,990.0,...,2.547210e+09,"POLYGON ((3069238.317597141 10028016.9612432, ...",3.246546e+06,109.902985,1.850698,18.649341,13.951415,9.111128,24.201434,42.138968
7,1,1,482090109081,171531.0,0.0,1.846354e+06,42.386,68.0,420.0,220.0,...,2.547210e+09,"POLYGON ((3093548.488136804 10008631.07120929,...",1.837684e+03,1253.000000,265.000000,252.000000,229.000000,215.000000,190.000000,102.000000
2058,77,77,484530013041,648074.0,0.0,6.975364e+06,160.131,374.0,2310.0,1210.0,...,2.547210e+09,"POLYGON ((3104429.626151387 10059671.90744762,...",1.629315e+06,153.229381,17.285022,20.087998,26.861858,22.657393,30.599160,35.737950
2329,85,85,484530013071,645703.0,0.0,6.949845e+06,159.547,442.0,2730.0,1430.0,...,2.547210e+09,"POLYGON ((3106245.881705231 10055451.60059952,...",6.949845e+06,575.000000,93.000000,291.000000,75.000000,27.000000,33.000000,56.000000
2387,87,87,484530013073,691226.0,0.0,7.439808e+06,170.795,510.0,3150.0,1650.0,...,2.547210e+09,"POLYGON ((3105576.698332313 10059980.97474288,...",4.126300e+06,568.490119,137.546878,118.689644,100.941660,58.235573,42.706087,110.370277

In [36]:
#income_clip.columns

In [37]:
income_calc = income_clip[['LOCATION_N', 'Total_Pop','access_by_income_TotalPop', 'Less than $25,000','$25,000 to $49,999',\
                           '$50,000 to $74,999','$75,000 to $99,999','$100,000 to $149,999','$150,000 or more','geometry']]

income_access_data = income_calc.dissolve(by='LOCATION_N',as_index=False, aggfunc='sum')

##### Combine the park area data to the access data

In [38]:
income_access_data = income_access_data.merge(parks_, on='LOCATION_N')

In [39]:
income_access_data

,LOCATION_N,geometry,Total_Pop,access_by_income_TotalPop,"Less than $25,000","$25,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 or more",ASSET_SIZE
0,A.B. Dittmar Neighborhood Park,"POLYGON ((3101845.883075725 10039503.09732532,...",12667,6690.631325,821.883784,1765.573566,1606.666337,1117.134222,945.171630,434.201785,12.690000
1,Adams-Hemphill Neighborhood Park,(POLYGON ((3109150.290308812 10080919.70745493...,17893,11537.194951,5334.980229,1949.422769,1311.238954,734.299949,828.213632,1379.039418,9.310000
2,Agave Neighborhood Park,"POLYGON ((3146370.305701126 10075209.27112355,...",6138,2343.690113,507.492411,888.853991,428.271938,272.348771,200.862822,45.860180,16.360000
3,Alamo Pocket Park,"POLYGON ((3122655.295172911 10075520.37048018,...",2854,496.361582,58.171022,97.614270,95.205729,61.174188,119.777295,64.419077,1.820000
4,Alderbrook Pocket Park,"POLYGON ((3128917.516225351 10124262.76067684,...",2344,1054.479309,122.428447,300.286259,275.867198,133.180352,178.897838,43.819215,1.900000
...,...,...,...,...,...,...,...,...,...,...,...
271,Wooten Neighborhood Park,"POLYGON ((3126174.126024226 10102802.86995263,...",16432,9117.838647,2359.154026,1932.066268,1838.854596,833.901559,1178.421120,975.441078,6.280000
272,Wunneburger Neighborhood Park,(POLYGON ((3095156.226719216 10021252.69393206...,6267,1736.081436,156.751023,342.777025,243.713205,346.568516,442.513208,203.758459,23.510000
273,Yates Pocket Park,"POLYGON ((3128555.312776149 10058188.62391765,...",2814,423.652703,204.670750,51.449939,60.777608,55.922901,36.290505,14.541000,0.933800
274,Yett Creek Neighborhood Park,"POLYGON ((3114971.34041626 10117988.44743733, ...",35879,20849.738854,2101.212177,4356.179922,4617.708985,3401.716431,3529.800489,2843.120849,40.545000
275,Zilker Metro Park,(POLYGON ((3088236.785038692 10046683.90880718...,168045,137118.632016,29587.232221,28403.361154,23584.789754,14668.630983,18560.075346,22314.542557,307.849066

##### The population served by parks is nomalized by dividing the population served by the area of the park for which they are being served

In [40]:
income_access_data['TotalPop_Served_norm'] = income_access_data['access_by_income_TotalPop']/income_access_data['ASSET_SIZE']
income_access_data['Less than $25,000_norm'] = income_access_data['Less than $25,000']/income_access_data['ASSET_SIZE']
income_access_data['$25,000 to $49,999_norm'] = income_access_data['$25,000 to $49,999']/income_access_data['ASSET_SIZE']
income_access_data['$50,000 to $74,999_norm'] = income_access_data['$50,000 to $74,999']/income_access_data['ASSET_SIZE']
income_access_data['$75,000 to $99,999_norm'] = income_access_data['$75,000 to $99,999']/income_access_data['ASSET_SIZE']
income_access_data['$100,000 to $149,999_norm'] = income_access_data['$100,000 to $149,999']/income_access_data['ASSET_SIZE']
income_access_data['$150,000 or more_norm'] = income_access_data['$150,000 or more']/income_access_data['ASSET_SIZE']

In [41]:
income_access_data.to_file(wd+"data/access/access_data_income_varibuff_ACS17.shp")
income_access_data

,LOCATION_N,geometry,Total_Pop,access_by_income_TotalPop,"Less than $25,000","$25,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 or more",ASSET_SIZE,TotalPop_Served_norm,"Less than $25,000_norm","$25,000 to $49,999_norm","$50,000 to $74,999_norm","$75,000 to $99,999_norm","$100,000 to $149,999_norm","$150,000 or more_norm"
0,A.B. Dittmar Neighborhood Park,"POLYGON ((3101845.883075725 10039503.09732532,...",12667,6690.631325,821.883784,1765.573566,1606.666337,1117.134222,945.171630,434.201785,12.690000,527.236511,64.766256,139.131093,126.608852,88.032642,74.481610,34.216059
1,Adams-Hemphill Neighborhood Park,(POLYGON ((3109150.290308812 10080919.70745493...,17893,11537.194951,5334.980229,1949.422769,1311.238954,734.299949,828.213632,1379.039418,9.310000,1239.226096,573.037619,209.390201,140.841993,78.872175,88.959574,148.124535
2,Agave Neighborhood Park,"POLYGON ((3146370.305701126 10075209.27112355,...",6138,2343.690113,507.492411,888.853991,428.271938,272.348771,200.862822,45.860180,16.360000,143.257342,31.020318,54.330929,26.177991,16.647235,12.277679,2.803189
3,Alamo Pocket Park,"POLYGON ((3122655.295172911 10075520.37048018,...",2854,496.361582,58.171022,97.614270,95.205729,61.174188,119.777295,64.419077,1.820000,272.726144,31.962100,53.634214,52.310840,33.612191,65.811701,35.395097
4,Alderbrook Pocket Park,"POLYGON ((3128917.516225351 10124262.76067684,...",2344,1054.479309,122.428447,300.286259,275.867198,133.180352,178.897838,43.819215,1.900000,554.989110,64.436025,158.045400,145.193262,70.094922,94.156757,23.062745
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,Wooten Neighborhood Park,"POLYGON ((3126174.126024226 10102802.86995263,...",16432,9117.838647,2359.154026,1932.066268,1838.854596,833.901559,1178.421120,975.441078,6.280000,1451.885135,375.661469,307.653864,292.811241,132.786872,187.646675,155.325012
272,Wunneburger Neighborhood Park,(POLYGON ((3095156.226719216 10021252.69393206...,6267,1736.081436,156.751023,342.777025,243.713205,346.568516,442.513208,203.758459,23.510000,73.844383,6.667419,14.580052,10.366363,14.741324,18.822340,8.666885
273,Yates Pocket Park,"POLYGON ((3128555.312776149 10058188.62391765,...",2814,423.652703,204.670750,51.449939,60.777608,55.922901,36.290505,14.541000,0.933800,453.686767,219.180499,55.097386,65.086323,59.887450,38.863253,15.571857
274,Yett Creek Neighborhood Park,"POLYGON ((3114971.34041626 10117988.44743733, ...",35879,20849.738854,2101.212177,4356.179922,4617.708985,3401.716431,3529.800489,2843.120849,40.545000,514.236992,51.824200,107.440620,113.890960,83.899776,87.058836,70.122601
275,Zilker Metro Park,(POLYGON ((3088236.785038692 10046683.90880718...,168045,137118.632016,29587.232221,28403.361154,23584.789754,14668.630983,18560.075346,22314.542557,307.849066,445.408634,96.109540,92.263918,76.611536,47.648775,60.289529,72.485335

#### A dataframe is created with the 'acess_data' geoshapefile. This dataframe is cleaned up and the values are convereted into integers. Finally, we export the dataframe into a csv file and a shapefile.

In [42]:
df = pd.DataFrame(income_access_data)
df['Park_Name']=df['LOCATION_N']

df['Total Pop Served'] = df['access_by_income_TotalPop'].astype(int)
df['TotalPop_Served_norm'] = df['TotalPop_Served_norm'].astype(int)

df['Less than $25,000'] = df['Less than $25,000'].astype(int)
df['Less than $25,000_norm'] = df['Less than $25,000_norm'].astype(int)

df['$25,000 to $49,999'] = df['$25,000 to $49,999'].astype(int)
df['$25,000 to $49,999_norm'] = df['$25,000 to $49,999_norm'].astype(int)

df['$50,000 to $74,999'] = df['$50,000 to $74,999'].astype(int)
df['$50,000 to $74,999_norm'] = df['$50,000 to $74,999_norm'].astype(int)

df['$75,000 to $99,999'] = df['$75,000 to $99,999'].astype(int)
df['$75,000 to $99,999_norm'] = df['$75,000 to $99,999_norm'].astype(int)

df['$100,000 to $149,999'] = df['$100,000 to $149,999'].astype(int)
df['$100,000 to $149,999_norm'] = df['$100,000 to $149,999_norm'].astype(int)

df['$150,000 or more'] = df['$150,000 or more'].astype(int)
df['$150,000 or more_norm'] = df['$150,000 or more_norm'].astype(int)

In [43]:
access_income_final = df.copy().drop(columns=['access_by_income_TotalPop'])
access_income_final = gpd.GeoDataFrame(access_income_final, geometry='geometry')
access_income_final.to_file(wd+"data/access/access_income_final_varibuff_ACS17.shp")
access_income_final.head()

,LOCATION_N,geometry,Total_Pop,"Less than $25,000","$25,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 or more",ASSET_SIZE,TotalPop_Served_norm,"Less than $25,000_norm","$25,000 to $49,999_norm","$50,000 to $74,999_norm","$75,000 to $99,999_norm","$100,000 to $149,999_norm","$150,000 or more_norm",Park_Name,Total Pop Served
0,A.B. Dittmar Neighborhood Park,"POLYGON ((3101845.883075725 10039503.09732532,...",12667,821,1765,1606,1117,945,434,12.69,527,64,139,126,88,74,34,A.B. Dittmar Neighborhood Park,6690
1,Adams-Hemphill Neighborhood Park,(POLYGON ((3109150.290308812 10080919.70745493...,17893,5334,1949,1311,734,828,1379,9.31,1239,573,209,140,78,88,148,Adams-Hemphill Neighborhood Park,11537
2,Agave Neighborhood Park,"POLYGON ((3146370.305701126 10075209.27112355,...",6138,507,888,428,272,200,45,16.36,143,31,54,26,16,12,2,Agave Neighborhood Park,2343
3,Alamo Pocket Park,"POLYGON ((3122655.295172911 10075520.37048018,...",2854,58,97,95,61,119,64,1.82,272,31,53,52,33,65,35,Alamo Pocket Park,496
4,Alderbrook Pocket Park,"POLYGON ((3128917.516225351 10124262.76067684,...",2344,122,300,275,133,178,43,1.90,554,64,158,145,70,94,23,Alderbrook Pocket Park,1054

In [44]:
access_incometable = df.drop(columns=['access_by_income_TotalPop','geometry'])
access_incometable.to_csv(wd+"data/access/access_table_income_varibuff_ACS17.csv")
access_incometable.head()

,LOCATION_N,Total_Pop,"Less than $25,000","$25,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 or more",ASSET_SIZE,TotalPop_Served_norm,"Less than $25,000_norm","$25,000 to $49,999_norm","$50,000 to $74,999_norm","$75,000 to $99,999_norm","$100,000 to $149,999_norm","$150,000 or more_norm",Park_Name,Total Pop Served
0,A.B. Dittmar Neighborhood Park,12667,821,1765,1606,1117,945,434,12.69,527,64,139,126,88,74,34,A.B. Dittmar Neighborhood Park,6690
1,Adams-Hemphill Neighborhood Park,17893,5334,1949,1311,734,828,1379,9.31,1239,573,209,140,78,88,148,Adams-Hemphill Neighborhood Park,11537
2,Agave Neighborhood Park,6138,507,888,428,272,200,45,16.36,143,31,54,26,16,12,2,Agave Neighborhood Park,2343
3,Alamo Pocket Park,2854,58,97,95,61,119,64,1.82,272,31,53,52,33,65,35,Alamo Pocket Park,496
4,Alderbrook Pocket Park,2344,122,300,275,133,178,43,1.90,554,64,158,145,70,94,23,Alderbrook Pocket Park,1054

In [45]:
access_income_stats = access_incometable.describe()
access_income_stats.to_csv(wd+"data/access/access_stats_income_varibuff_ACS17.csv")
access_income_stats

,Total_Pop,"Less than $25,000","$25,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 or more",ASSET_SIZE,TotalPop_Served_norm,"Less than $25,000_norm","$25,000 to $49,999_norm","$50,000 to $74,999_norm","$75,000 to $99,999_norm","$100,000 to $149,999_norm","$150,000 or more_norm",Total Pop Served
count,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000
mean,18988.213768,2245.115942,2493.521739,2050.619565,1392.829710,1658.641304,1650.184783,47.929941,1886.677536,339.905797,346.456522,288.213768,210.438406,272.054348,427.126812,11493.355072
std,23950.476561,3886.522987,4256.181044,3477.887906,2351.999889,2700.208823,2929.635158,160.834132,11104.158809,1424.343745,1574.532381,1434.164763,1265.932297,1639.411742,3897.409330,18768.958026
min,1009.000000,6.000000,10.000000,12.000000,5.000000,10.000000,0.000000,0.068466,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,105.000000
25%,3638.750000,127.000000,124.750000,107.750000,70.750000,100.000000,118.250000,3.009791,167.500000,26.000000,35.000000,27.000000,21.750000,24.000000,19.000000,666.000000
50%,12004.000000,807.000000,1147.500000,1048.500000,705.500000,813.000000,535.000000,7.650000,460.000000,73.500000,90.000000,77.500000,52.500000,70.500000,56.000000,6206.000000
75%,20742.000000,2459.500000,2682.500000,1955.000000,1389.250000,1859.000000,1842.000000,20.116843,1133.500000,218.250000,225.250000,179.750000,123.000000,166.250000,165.250000,11276.750000
max,168045.000000,30653.000000,28448.000000,23584.000000,14668.000000,18560.000000,22314.000000,1885.441896,175784.000000,20333.000000,23470.000000,22038.000000,20116.000000,25780.000000,64044.000000,137118.000000

## <font color=peru>Run spatial analysis on the amount of people distributed within a census block group against the varied park buffer area and the age/sex census data</font>

In [46]:
age_intersection = gpd.overlay(age, varibuff, how='intersection') #https://geopandas.org/set_operations.html
age_intersection['agearea_intersec'] = age_intersection['geometry'].area
age_intersection.to_file(wd+"data/access/age_intersec_varibuff_ACS17.shp")

age_intersection

,level_0,index,GEOID10,ALAND10,AWATER10,area_ft,area_acres,jurisdic_3,modified_f,objectid,...,GLOBALID,CREATED_BY,CREATED_DA,MODIFIED_B,MODIFIED_D,Shape__Are,Shape__Len,fullarea_buff,geometry,agearea_intersec
0,0,2,484530001011,950911.0,0.0,1.023445e+07,234.950,510.0,3150.0,1650.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,2.622682e+05,4186.714538,1.026202e+08,(POLYGON ((3113039.938718961 10090359.13836279...,1.011777e+06
39,2,4,484530001013,1069511.0,0.0,1.151098e+07,264.255,1054.0,6510.0,3410.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,2.622682e+05,4186.714538,1.026202e+08,"POLYGON ((3111653.081195532 10089300.66721307,...",3.111923e+06
109,5,7,484530002031,1209401.0,0.0,1.301661e+07,298.820,442.0,2730.0,1430.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,2.622682e+05,4186.714538,1.026202e+08,"POLYGON ((3117050.414886134 10086378.84615964,...",1.275434e+07
130,6,8,484530002041,514123.0,0.0,5.533474e+06,127.033,1088.0,6720.0,3520.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,2.622682e+05,4186.714538,1.026202e+08,"POLYGON ((3113173.062588066 10082851.91671775,...",3.169710e+06
149,7,9,484530002042,551614.0,0.0,5.936942e+06,136.293,816.0,5040.0,2640.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,2.622682e+05,4186.714538,1.026202e+08,(POLYGON ((3114027.879264554 10085430.85363304...,5.554220e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9408,554,556,484910205101,4745633.0,1268.0,5.108690e+07,1172.794,1190.0,7350.0,3850.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,2.473250e+06,15477.589042,6.742859e+08,"POLYGON ((3105356.685648966 10148942.41788262,...",3.399377e+07
9410,555,557,484910205103,346320.0,0.0,3.727163e+06,85.565,340.0,2100.0,1100.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,2.473250e+06,15477.589042,6.742859e+08,"POLYGON ((3104338.228040222 10151913.94934112,...",3.727163e+06
9402,550,552,484910205081,4018118.0,2409.0,4.326969e+07,993.336,340.0,2100.0,1100.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,6.289057e+05,3819.975953,1.025997e+07,"POLYGON ((3103070.9294554 10151562.85760724, 3...",4.403025e+06
9407,554,556,484910205101,4745633.0,1268.0,5.108690e+07,1172.794,1190.0,7350.0,3850.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,6.289057e+05,3819.975953,1.025997e+07,(POLYGON ((3105356.685648966 10148942.41788262...,4.356998e+06
9409,555,557,484910205103,346320.0,0.0,3.727163e+06,85.565,340.0,2100.0,1100.0,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,6.289057e+05,3819.975953,1.025997e+07,"POLYGON ((3104338.228040222 10151913.94934112,...",1.499946e+06

In [47]:
age_intersec=age_intersection.drop(['GLOBALID', 'CREATED_BY', 'CREATED_DA', 'MODIFIED_B', 'MODIFIED_D',
       'Shape__Are', 'Shape__Len', 'fullarea_buff','MXASSETNUM', 'MXLOCATION', 'MXSITEID', 'MXCREATION', 'MXSTATUS',
       'MXCONDITIO', 'MXPRIORITY', 'MXLOADID'], axis=1)

In [48]:
age_intersec.columns

Index(['level_0', 'index', 'GEOID10', 'ALAND10', 'AWATER10', 'area_ft',
       'area_acres', 'jurisdic_3', 'modified_f', 'objectid',
       ...
       'ACQUISIT_2', 'DEVELOPM_1', 'DEVELOPM_2', 'RESTRICTIO', 'LWCF_PROTE',
       'OTHER_PROT', 'REST_PROT_', 'COMMUNITY_', 'geometry',
       'agearea_intersec'],
      dtype='object', length=120)

In [49]:
age_intersection[['GEOID10','Total_pop_','fullarea_age','LOCATION_N','fullarea_buff','agearea_intersec','geometry']]

,GEOID10,Total_pop_,fullarea_age,LOCATION_N,fullarea_buff,agearea_intersec,geometry
0,484530001011,1045,1.023445e+07,Triangle Commons Neighborhood Park,1.026202e+08,1.011777e+06,(POLYGON ((3113039.938718961 10090359.13836279...
39,484530001013,2016,1.151098e+07,Triangle Commons Neighborhood Park,1.026202e+08,3.111923e+06,"POLYGON ((3111653.081195532 10089300.66721307,..."
109,484530002031,1594,1.301661e+07,Triangle Commons Neighborhood Park,1.026202e+08,1.275434e+07,"POLYGON ((3117050.414886134 10086378.84615964,..."
130,484530002041,1113,5.533474e+06,Triangle Commons Neighborhood Park,1.026202e+08,3.169710e+06,"POLYGON ((3113173.062588066 10082851.91671775,..."
149,484530002042,1255,5.936942e+06,Triangle Commons Neighborhood Park,1.026202e+08,5.554220e+06,(POLYGON ((3114027.879264554 10085430.85363304...
...,...,...,...,...,...,...,...
9408,484910205101,4695,3.462268e+07,Brushy Creek Greenbelt,6.742859e+08,3.399377e+07,"POLYGON ((3105356.685648966 10148942.41788262,..."
9410,484910205103,929,3.727163e+06,Brushy Creek Greenbelt,6.742859e+08,3.727163e+06,"POLYGON ((3104338.228040222 10151913.94934112,..."
9402,484910205081,3775,3.682212e+07,Davis Spring Special Park,1.025997e+07,4.403025e+06,"POLYGON ((3103070.9294554 10151562.85760724, 3..."
9407,484910205101,4695,3.462268e+07,Davis Spring Special Park,1.025997e+07,4.356998e+06,(POLYGON ((3105356.685648966 10148942.41788262...
9409,484910205103,929,3.727163e+06,Davis Spring Special Park,1.025997e+07,1.499946e+06,"POLYGON ((3104338.228040222 10151913.94934112,..."

In [50]:
age_intersec.columns

Index(['level_0', 'index', 'GEOID10', 'ALAND10', 'AWATER10', 'area_ft',
       'area_acres', 'jurisdic_3', 'modified_f', 'objectid',
       ...
       'ACQUISIT_2', 'DEVELOPM_1', 'DEVELOPM_2', 'RESTRICTIO', 'LWCF_PROTE',
       'OTHER_PROT', 'REST_PROT_', 'COMMUNITY_', 'geometry',
       'agearea_intersec'],
      dtype='object', length=120)

In [51]:
age_clip=age_intersec.copy()

for val in age_clip:

    age_clip['weight'] = age_clip['agearea_intersec']/ age_clip['fullarea_age']
    
    age_clip['Totalpop_served'] = age_clip['weight'] * age_clip['Total_pop_']
    age_clip['Males_served'] = age_clip['weight'] * age_clip['Male']
    age_clip['Males_served_Under5'] = age_clip['weight'] * age_clip['Male_Under']
    age_clip['Males_served_Under18'] = age_clip['weight'] * age_clip['Male_Und_1']
    age_clip['Males_served_Over65'] = age_clip['weight'] * age_clip['Male_Over6']
    
    age_clip['Females_served'] = age_clip['weight'] * age_clip['Female_']
    age_clip['Females_served_Under5'] = age_clip['weight'] * age_clip['Female_Und']
    age_clip['Females_served_Under18'] = age_clip['weight'] * age_clip['Female_U_1']
    age_clip['Females_served_Over65'] = age_clip['weight'] * age_clip['Female_Ove']
        
age_clip.head()

,level_0,index,GEOID10,ALAND10,AWATER10,area_ft,area_acres,jurisdic_3,modified_f,objectid,...,agearea_intersec,Totalpop_served,Males_served,Males_served_Under5,Males_served_Under18,Males_served_Over65,Females_served,Females_served_Under5,Females_served_Under18,Females_served_Over65
0,0,2,484530001011,950911.0,0.0,1.023445e+07,234.950,510.0,3150.0,1650.0,...,1.011777e+06,103.308695,50.912897,7.117920,17.399359,6.425900,52.395797,2.372640,9.490560,4.448700
39,2,4,484530001013,1069511.0,0.0,1.151098e+07,264.255,1054.0,6510.0,3410.0,...,3.111923e+06,545.013056,215.463991,11.624782,31.900566,37.307441,329.549065,18.383377,41.362598,107.596824
109,5,7,484530002031,1209401.0,0.0,1.301661e+07,298.820,442.0,2730.0,1430.0,...,1.275434e+07,1561.882915,752.525771,10.778364,40.173902,31.355240,809.357144,5.879108,58.791076,44.093307
130,6,8,484530002041,514123.0,0.0,5.533474e+06,127.033,1088.0,6720.0,3520.0,...,3.169710e+06,637.553737,439.929263,4.009772,33.796649,11.456491,197.624474,15.466263,33.223825,8.592368
149,7,9,484530002042,551614.0,0.0,5.936942e+06,136.293,816.0,5040.0,2640.0,...,5.554220e+06,1174.097161,626.808843,5.613214,56.132135,119.748555,547.288318,20.581783,88.875881,121.619626

In [52]:
#income_clip.columns

In [53]:
age_calc = age_clip[['LOCATION_N','Total_pop_', 'Totalpop_served', 'Males_served','Males_served_Under5','Males_served_Under18',\
                     'Males_served_Over65','Females_served','Females_served_Under5','Females_served_Under18',\
                     'Females_served_Over65','geometry']]

age_access_data = age_calc.dissolve(by='LOCATION_N',as_index=False, aggfunc='sum')

##### Combine the park area data to the access data

In [54]:
age_access_data = age_access_data.merge(parks_, on='LOCATION_N')

In [55]:
age_access_data

,LOCATION_N,geometry,Total_pop_,Totalpop_served,Males_served,Males_served_Under5,Males_served_Under18,Males_served_Over65,Females_served,Females_served_Under5,Females_served_Under18,Females_served_Over65,ASSET_SIZE
0,A.B. Dittmar Neighborhood Park,"POLYGON ((3101845.883075725 10039503.09732532,...",31723,16802.681640,8502.168912,483.562549,1609.961871,717.971308,8300.512727,552.196032,1483.327454,784.494419,12.690000
1,Adams-Hemphill Neighborhood Park,(POLYGON ((3109150.290308812 10080919.70745493...,53770,40025.821190,19203.536891,308.532811,983.642909,587.115501,20822.284299,439.109828,1216.349442,403.527642,9.310000
2,Agave Neighborhood Park,"POLYGON ((3146370.305701126 10075209.27112355,...",22602,9034.878311,4529.392572,553.502157,1649.334070,176.154771,4505.485740,476.148785,1629.538812,244.804111,16.360000
3,Alamo Pocket Park,"POLYGON ((3122655.295172911 10075520.37048018,...",6559,1125.979596,625.323506,17.880884,32.742481,23.114997,500.656090,16.543236,51.171730,44.066326,1.820000
4,Alderbrook Pocket Park,"POLYGON ((3128917.516225351 10124262.76067684,...",5332,2304.340451,975.003317,44.973398,119.833020,17.632987,1329.337134,83.662041,210.102560,176.416045,1.900000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,Wooten Neighborhood Park,"POLYGON ((3126174.126024226 10102802.86995263,...",39336,22704.851678,12055.498164,1133.287150,2496.043507,575.125010,10649.353515,858.483381,2468.775394,1170.672432,6.280000
272,Wunneburger Neighborhood Park,(POLYGON ((3095156.226719216 10021252.69393206...,15755,4211.025799,2106.245340,115.027678,384.363176,320.453830,2104.780460,84.150023,327.640597,404.259500,23.510000
273,Yates Pocket Park,"POLYGON ((3128555.312776149 10058188.62391765,...",8795,1380.701500,758.354264,63.431559,169.166575,20.507943,622.347236,12.423808,125.530557,47.823091,0.933800
274,Yett Creek Neighborhood Park,"POLYGON ((3114971.34041626 10117988.44743733, ...",76078,44053.882691,22976.996836,1931.731253,4389.593093,2228.940679,21076.885854,1238.747131,3264.275987,2650.781123,40.545000
275,Zilker Metro Park,(POLYGON ((3088236.785038692 10046683.90880718...,414301,333242.364871,169704.659752,8767.625237,27804.057950,12633.537402,163537.705119,9119.610996,27983.339769,15204.528845,307.849066

In [56]:
age_access_data.columns

Index(['LOCATION_N', 'geometry', 'Total_pop_', 'Totalpop_served',
       'Males_served', 'Males_served_Under5', 'Males_served_Under18',
       'Males_served_Over65', 'Females_served', 'Females_served_Under5',
       'Females_served_Under18', 'Females_served_Over65', 'ASSET_SIZE'],
      dtype='object')

##### The population served by parks is nomalized by dividing the population served by the area of the park for which they are being served

In [57]:
age_access_data['Totalpop_served_norm'] = age_access_data['Totalpop_served']/age_access_data['ASSET_SIZE']
age_access_data['Males_served_norm'] = age_access_data['Males_served']/age_access_data['ASSET_SIZE']
age_access_data['Males_served_Under5_norm'] = age_access_data['Males_served_Under5']/age_access_data['ASSET_SIZE']
age_access_data['Males_served_Under18_norm'] = age_access_data['Males_served_Under18']/age_access_data['ASSET_SIZE']
age_access_data['Males_served_Over65_norm'] = age_access_data['Males_served_Over65']/age_access_data['ASSET_SIZE']

age_access_data['Females_served_norm'] = age_access_data['Females_served']/age_access_data['ASSET_SIZE']
age_access_data['Females_served_Under5_norm'] = age_access_data['Females_served_Under5']/age_access_data['ASSET_SIZE']
age_access_data['Females_served_Under18_norm'] = age_access_data['Females_served_Under18']/age_access_data['ASSET_SIZE']
age_access_data['Females_served_Over65_norm'] = age_access_data['Females_served_Over65']/age_access_data['ASSET_SIZE']

age_access_data['Under5_served'] = age_access_data['Males_served_Under5'] + age_access_data['Females_served_Under5']
age_access_data['Under5_served_norm'] = age_access_data['Under5_served']/age_access_data['ASSET_SIZE']

age_access_data['Under18_served'] = age_access_data['Males_served_Under18'] + age_access_data['Females_served_Under18']
age_access_data['Under18_served_norm'] = age_access_data['Under18_served']/age_access_data['ASSET_SIZE']

age_access_data['Over65_served'] = age_access_data['Males_served_Over65'] + age_access_data['Females_served_Over65']
age_access_data['Over65_served_norm'] = age_access_data['Over65_served']/age_access_data['ASSET_SIZE']

age_access_data['Women_Children_under5']= age_access_data['Females_served'] + age_access_data['Males_served_Under5']
age_access_data['Women_Children_under5_norm']= age_access_data['Women_Children_under5']/age_access_data['ASSET_SIZE']

age_access_data['Women_Children_under18']= age_access_data['Females_served'] + age_access_data['Males_served_Under18']
age_access_data['Women_Children_under18_norm']= age_access_data['Women_Children_under18']/age_access_data['ASSET_SIZE']

In [58]:
age_access_data.to_file(wd+"data/access/access_data_age_sex_varibuff_ACS17.shp")
age_access_data

,LOCATION_N,geometry,Total_pop_,Totalpop_served,Males_served,Males_served_Under5,Males_served_Under18,Males_served_Over65,Females_served,Females_served_Under5,...,Under5_served,Under5_served_norm,Under18_served,Under18_served_norm,Over65_served,Over65_served_norm,Women_Children_under5,Women_Children_under5_norm,Women_Children_under18,Women_Children_under18_norm
0,A.B. Dittmar Neighborhood Park,"POLYGON ((3101845.883075725 10039503.09732532,...",31723,16802.681640,8502.168912,483.562549,1609.961871,717.971308,8300.512727,552.196032,...,1035.758581,81.620062,3093.289326,243.758024,1502.465727,118.397614,8784.075276,692.204513,9910.474599,780.967265
1,Adams-Hemphill Neighborhood Park,(POLYGON ((3109150.290308812 10080919.70745493...,53770,40025.821190,19203.536891,308.532811,983.642909,587.115501,20822.284299,439.109828,...,747.642639,80.305332,2199.992351,236.304227,990.643144,106.406353,21130.817111,2269.690345,21805.927209,2342.204856
2,Agave Neighborhood Park,"POLYGON ((3146370.305701126 10075209.27112355,...",22602,9034.878311,4529.392572,553.502157,1649.334070,176.154771,4505.485740,476.148785,...,1029.650942,62.937099,3278.872882,200.420103,420.958882,25.730983,5058.987897,309.229089,6154.819809,376.211480
3,Alamo Pocket Park,"POLYGON ((3122655.295172911 10075520.37048018,...",6559,1125.979596,625.323506,17.880884,32.742481,23.114997,500.656090,16.543236,...,34.424120,18.914352,83.914211,46.106709,67.181323,36.912815,518.536974,284.910425,533.398571,293.076138
4,Alderbrook Pocket Park,"POLYGON ((3128917.516225351 10124262.76067684,...",5332,2304.340451,975.003317,44.973398,119.833020,17.632987,1329.337134,83.662041,...,128.635439,67.702863,329.935580,173.650305,194.049032,102.131069,1374.310532,723.321333,1449.170154,762.721134
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,Wooten Neighborhood Park,"POLYGON ((3126174.126024226 10102802.86995263,...",39336,22704.851678,12055.498164,1133.287150,2496.043507,575.125010,10649.353515,858.483381,...,1991.770531,317.160913,4964.818900,790.576258,1745.797443,277.993223,11782.640664,1876.216666,13145.397021,2093.216086
272,Wunneburger Neighborhood Park,(POLYGON ((3095156.226719216 10021252.69393206...,15755,4211.025799,2106.245340,115.027678,384.363176,320.453830,2104.780460,84.150023,...,199.177701,8.472042,712.003773,30.285146,724.713329,30.825748,2219.808137,94.419742,2489.143636,105.875952
273,Yates Pocket Park,"POLYGON ((3128555.312776149 10058188.62391765,...",8795,1380.701500,758.354264,63.431559,169.166575,20.507943,622.347236,12.423808,...,75.855367,81.232991,294.697132,315.589133,68.331035,73.175235,685.778795,734.395797,791.513811,847.626698
274,Yett Creek Neighborhood Park,"POLYGON ((3114971.34041626 10117988.44743733, ...",76078,44053.882691,22976.996836,1931.731253,4389.593093,2228.940679,21076.885854,1238.747131,...,3170.478385,78.196532,7653.869080,188.774672,4879.721802,120.353232,23008.617108,567.483465,25466.478947,628.104056
275,Zilker Metro Park,(POLYGON ((3088236.785038692 10046683.90880718...,414301,333242.364871,169704.659752,8767.625237,27804.057950,12633.537402,163537.705119,9119.610996,...,17887.236233,58.103916,55787.397719,181.216719,27838.066247,90.427646,172305.330356,559.707172,191341.763069,621.544075

#### A dataframe is created with the 'acess_data' geoshapefile. This dataframe is cleaned up and the values are convereted into integers. Finally, we export the dataframe into a csv file and a shapefile.

In [59]:
age_access_data.columns

Index(['LOCATION_N', 'geometry', 'Total_pop_', 'Totalpop_served',
       'Males_served', 'Males_served_Under5', 'Males_served_Under18',
       'Males_served_Over65', 'Females_served', 'Females_served_Under5',
       'Females_served_Under18', 'Females_served_Over65', 'ASSET_SIZE',
       'Totalpop_served_norm', 'Males_served_norm', 'Males_served_Under5_norm',
       'Males_served_Under18_norm', 'Males_served_Over65_norm',
       'Females_served_norm', 'Females_served_Under5_norm',
       'Females_served_Under18_norm', 'Females_served_Over65_norm',
       'Under5_served', 'Under5_served_norm', 'Under18_served',
       'Under18_served_norm', 'Over65_served', 'Over65_served_norm',
       'Women_Children_under5', 'Women_Children_under5_norm',
       'Women_Children_under18', 'Women_Children_under18_norm'],
      dtype='object')

In [60]:
df = pd.DataFrame(age_access_data)
df['Park_Name']=df['LOCATION_N']

df['Totalpop_served'] = df['Totalpop_served'].astype(int)
df['Totalpop_served_norm'] = df['Totalpop_served_norm'].astype(int)

df['Males_served'] = df['Males_served'].astype(int)
df['Males_served_norm'] = df['Males_served_norm'].astype(int)

df['Males_served_Under5'] = df['Males_served_Under5'].astype(int)
df['Males_served_Under5_norm'] = df['Males_served_Under5_norm'].astype(int)

df['Males_served_Under18'] = df['Males_served_Under18'].astype(int)
df['Males_served_Under18_norm'] = df['Males_served_Under18_norm'].astype(int)

df['Males_served_Over65'] = df['Males_served_Over65'].astype(int)
df['Males_served_Over65_norm'] = df['Males_served_Over65_norm'].astype(int)

df['Females_served'] = df['Females_served'].astype(int)
df['Females_served_norm'] = df['Females_served_norm'].astype(int)

df['Females_served_Under5'] = df['Females_served_Under5'].astype(int)
df['Females_served_Under5_norm'] = df['Females_served_Under5_norm'].astype(int)

df['Females_served_Under18'] = df['Females_served_Under18'].astype(int)
df['Females_served_Under18_norm'] = df['Females_served_Under18_norm'].astype(int)

df['Females_served_Over65'] = df['Females_served_Over65'].astype(int)
df['Females_served_Over65_norm'] = df['Females_served_Over65_norm'].astype(int)

df['Under5_served'] = df['Under5_served'].astype(int)
df['Under5_served_norm'] = df['Under5_served_norm'].astype(int)

df['Under18_served'] = df['Under18_served'].astype(int)
df['Under18_served_norm'] = df['Under18_served_norm'].astype(int)

df['Over65_served'] = df['Over65_served'].astype(int)
df['Over65_served_norm'] = df['Over65_served_norm'].astype(int)

df['Women_Children_under5']= df['Women_Children_under5'].astype(int)
df['Women_Children_under5_norm']= df['Women_Children_under5_norm'].astype(int)

df['Women_Children_under18']= df['Women_Children_under18'].astype(int)
df['Women_Children_under18_norm']= df['Women_Children_under18_norm'].astype(int)

In [61]:
df.columns

Index(['LOCATION_N', 'geometry', 'Total_pop_', 'Totalpop_served',
       'Males_served', 'Males_served_Under5', 'Males_served_Under18',
       'Males_served_Over65', 'Females_served', 'Females_served_Under5',
       'Females_served_Under18', 'Females_served_Over65', 'ASSET_SIZE',
       'Totalpop_served_norm', 'Males_served_norm', 'Males_served_Under5_norm',
       'Males_served_Under18_norm', 'Males_served_Over65_norm',
       'Females_served_norm', 'Females_served_Under5_norm',
       'Females_served_Under18_norm', 'Females_served_Over65_norm',
       'Under5_served', 'Under5_served_norm', 'Under18_served',
       'Under18_served_norm', 'Over65_served', 'Over65_served_norm',
       'Women_Children_under5', 'Women_Children_under5_norm',
       'Women_Children_under18', 'Women_Children_under18_norm', 'Park_Name'],
      dtype='object')

In [62]:
access_age_final = df.copy()
access_age_final = gpd.GeoDataFrame(access_age_final, geometry='geometry')
access_age_final.to_file(wd+"data/access/access_age_final_varibuff_ACS17.shp")
access_age_final.head()

,LOCATION_N,geometry,Total_pop_,Totalpop_served,Males_served,Males_served_Under5,Males_served_Under18,Males_served_Over65,Females_served,Females_served_Under5,...,Under5_served_norm,Under18_served,Under18_served_norm,Over65_served,Over65_served_norm,Women_Children_under5,Women_Children_under5_norm,Women_Children_under18,Women_Children_under18_norm,Park_Name
0,A.B. Dittmar Neighborhood Park,"POLYGON ((3101845.883075725 10039503.09732532,...",31723,16802,8502,483,1609,717,8300,552,...,81,3093,243,1502,118,8784,692,9910,780,A.B. Dittmar Neighborhood Park
1,Adams-Hemphill Neighborhood Park,(POLYGON ((3109150.290308812 10080919.70745493...,53770,40025,19203,308,983,587,20822,439,...,80,2199,236,990,106,21130,2269,21805,2342,Adams-Hemphill Neighborhood Park
2,Agave Neighborhood Park,"POLYGON ((3146370.305701126 10075209.27112355,...",22602,9034,4529,553,1649,176,4505,476,...,62,3278,200,420,25,5058,309,6154,376,Agave Neighborhood Park
3,Alamo Pocket Park,"POLYGON ((3122655.295172911 10075520.37048018,...",6559,1125,625,17,32,23,500,16,...,18,83,46,67,36,518,284,533,293,Alamo Pocket Park
4,Alderbrook Pocket Park,"POLYGON ((3128917.516225351 10124262.76067684,...",5332,2304,975,44,119,17,1329,83,...,67,329,173,194,102,1374,723,1449,762,Alderbrook Pocket Park

In [63]:
access_agetable = df.drop(columns=['geometry'])
access_agetable.to_csv(wd+"data/access/access_table_age_varibuff_ACS17.csv")
access_agetable.head()

,LOCATION_N,Total_pop_,Totalpop_served,Males_served,Males_served_Under5,Males_served_Under18,Males_served_Over65,Females_served,Females_served_Under5,Females_served_Under18,...,Under5_served_norm,Under18_served,Under18_served_norm,Over65_served,Over65_served_norm,Women_Children_under5,Women_Children_under5_norm,Women_Children_under18,Women_Children_under18_norm,Park_Name
0,A.B. Dittmar Neighborhood Park,31723,16802,8502,483,1609,717,8300,552,1483,...,81,3093,243,1502,118,8784,692,9910,780,A.B. Dittmar Neighborhood Park
1,Adams-Hemphill Neighborhood Park,53770,40025,19203,308,983,587,20822,439,1216,...,80,2199,236,990,106,21130,2269,21805,2342,Adams-Hemphill Neighborhood Park
2,Agave Neighborhood Park,22602,9034,4529,553,1649,176,4505,476,1629,...,62,3278,200,420,25,5058,309,6154,376,Agave Neighborhood Park
3,Alamo Pocket Park,6559,1125,625,17,32,23,500,16,51,...,18,83,46,67,36,518,284,533,293,Alamo Pocket Park
4,Alderbrook Pocket Park,5332,2304,975,44,119,17,1329,83,210,...,67,329,173,194,102,1374,723,1449,762,Alderbrook Pocket Park

In [64]:
access_age_stats = access_agetable.describe()
access_age_stats.to_csv(wd+"data/access/access_stats_age_varibuff_ACS17.csv")
access_age_stats

,Total_pop_,Totalpop_served,Males_served,Males_served_Under5,Males_served_Under18,Males_served_Over65,Females_served,Females_served_Under5,Females_served_Under18,Females_served_Over65,...,Under5_served,Under5_served_norm,Under18_served,Under18_served_norm,Over65_served,Over65_served_norm,Women_Children_under5,Women_Children_under5_norm,Women_Children_under18,Women_Children_under18_norm
count,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,...,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000
mean,47526.318841,28753.543478,14665.478261,914.880435,2854.173913,1069.851449,14087.605072,882.235507,2746.655797,1352.344203,...,1797.688406,240.210145,5601.311594,782.916667,2422.710145,404.130435,15002.996377,2230.014493,16942.297101,2507.623188
std,60867.716201,47285.944815,24135.178860,1587.767401,4911.884138,1753.311447,23172.919676,1525.982687,4701.003584,2200.551493,...,3106.897820,1263.320369,9604.579656,4928.447587,3947.403606,2957.290408,24704.093045,12837.226515,27944.900394,14729.824659
min,2789.000000,321.000000,152.000000,0.000000,0.000000,0.000000,149.000000,0.000000,4.000000,8.000000,...,0.000000,0.000000,5.000000,0.000000,14.000000,0.000000,158.000000,1.000000,185.000000,1.000000
25%,8705.000000,1462.000000,776.750000,56.500000,156.000000,60.000000,725.000000,58.000000,148.750000,75.750000,...,110.500000,26.750000,306.000000,87.250000,132.000000,37.000000,778.500000,247.000000,888.250000,273.000000
50%,30587.000000,15232.500000,7663.500000,420.000000,1242.000000,541.500000,7291.000000,385.500000,1236.000000,656.500000,...,815.500000,62.000000,2530.500000,188.000000,1222.000000,94.000000,7885.000000,594.000000,8726.500000,654.500000
75%,55756.750000,28592.750000,15029.000000,1095.500000,3399.750000,1087.250000,13903.000000,922.000000,3131.250000,1319.500000,...,1973.750000,155.250000,6847.750000,453.000000,2489.500000,204.000000,15084.000000,1384.750000,18042.750000,1502.500000
max,414301.000000,333242.000000,169704.000000,11279.000000,32045.000000,12633.000000,163537.000000,10047.000000,29634.000000,15204.000000,...,21326.000000,19967.000000,60663.000000,80063.000000,27838.000000,48283.000000,172305.000000,205027.000000,191341.000000,236228.000000

### END OF CODE