In [1]:
import geopandas as gpd
import pandas as pd
import os
import getpass
import matplotlib.pyplot as plt
#from earthpy.clip import clip_shp

### NOTES:

###### Bring in necessary geojson files and set your projection for all files

In [2]:
wd = os.getcwd()
wd = wd[:wd.find('notebooks')]

#crs is set for Central Texas; https://epsg.io/6578; 
crs =  {'init' :'epsg:6578'}

#parks = gpd.read_file(wd+"data/coaparks/parkboundaries.geojson")
#parks = parks.to_crs(crs).explode().reset_index()

quartbuff = gpd.read_file(wd+"data/coaparks_buffer/quarterbuff.shp")
quartbuff.crs={'init' :'epsg:6578'}

pop = gpd.read_file(wd+"data/blockgroups_censusdata/popmerge.shp")
pop = pop.to_crs(crs).reset_index()

race = gpd.read_file(wd+"data/blockgroups_censusdata/racemerge.shp")
race = race.to_crs(crs).reset_index()

income = gpd.read_file(wd+"data/blockgroups_censusdata/incomemerge.shp")
income = income.to_crs(crs).reset_index()

age = gpd.read_file(wd+"data/blockgroups_censusdata/agemerge.shp")
age = age.to_crs(crs).reset_index()

##### Check your projections
https://geopandas.org/projections.html

In [3]:
#quartbuff.crs

In [4]:
#pop.crs

In [5]:
#race.crs

In [6]:
#age.crs

###### Preview the files and clean the data

In [7]:
pop['fullarea_pop'] = pop['geometry'].area
#pop.head()

In [8]:
race['fullarea_race'] = race['geometry'].area
#race.head()

In [9]:
income['fullarea_income'] = income['geometry'].area
#income.head()

In [10]:
age['fullarea_age'] = age['geometry'].area
#quartbuff.head()

In [11]:
quartbuff['fullarea_buff'] = quartbuff['geometry'].area
#quartbuff.head()

### Run spatial analysis on the amount of people distributed within a census block group against the quarter mile park buffer area and the race census data

In [12]:
rp_intersection = gpd.overlay(race, quartbuff, how='intersection') #https://geopandas.org/set_operations.html
rp_intersection['area_intersec'] = rp_intersection['geometry'].area
rp_intersection.to_file(wd+"data/access/rp_intersec_quarterbuff_ACS17.shp")
rp_intersection

,index,GEOID10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,city_name,jurisdicti,Id,Id2,...,GLOBALID,CREATED_BY,CREATED_DA,MODIFIED_B,MODIFIED_D,Shape__Are,Shape__Len,fullarea_buff,geometry,area_intersec
2,2,484530001011,17128.0,0.0,+30.3353452,-097.7546582,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484530001011,484530001011,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,3.514350e+06,56641.286637,2.083222e+07,(POLYGON ((3112577.691601556 10092106.43546127...,1.937863e+06
7,4,484530001013,415563.0,0.0,+30.3158528,-097.7515898,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484530001013,484530001013,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,3.514350e+06,56641.286637,2.083222e+07,"(POLYGON ((3111956.64230204 10087345.37179527,...",1.598405e+06
21,8,484530002041,57831.0,0.0,+30.3027360,-097.7413860,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484530002041,484530002041,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,3.514350e+06,56641.286637,2.083222e+07,"POLYGON ((3112579.183619359 10081465.39038167,...",4.060094e+05
24,9,484530002042,16538.0,0.0,+30.3162020,-097.7451126,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484530002042,484530002042,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,3.514350e+06,56641.286637,2.083222e+07,(POLYGON ((3112506.819622439 10086223.64617552...,8.211498e+05
30,10,484530002043,61172.0,0.0,+30.3084751,-097.7470902,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484530002043,484530002043,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,3.514350e+06,56641.286637,2.083222e+07,"(POLYGON ((3112746.76010764 10081979.97962928,...",1.578661e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1546,542,484910204083,34157.0,0.0,+30.4530947,-097.7811364,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484910204083,484910204083,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,5.423833e+05,2970.882179,1.690157e+06,"POLYGON ((3099958.623058978 10137136.64832762,...",1.043275e+05
1544,540,484910204081,9762.0,0.0,+30.4597401,-097.7933842,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484910204081,484910204081,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,9.810471e+04,1492.002528,1.070334e+06,"POLYGON ((3100175.699942151 10143570.94554518,...",8.736948e+05
1547,552,484910205081,636722.0,850.0,+30.4840639,-097.7595422,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484910205081,484910205081,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,6.289057e+05,3819.975953,1.976420e+06,(POLYGON ((3104261.391998203 10149293.93935596...,1.688160e+05
1551,556,484910205101,2092.0,0.0,+30.4950296,-097.7673875,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484910205101,484910205101,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,6.289057e+05,3819.975953,1.976420e+06,"POLYGON ((3105146.529438308 10149196.16067607,...",1.681954e+06
1553,557,484910205103,14153.0,0.0,+30.4953417,-097.7716305,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484910205103,484910205103,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,6.289057e+05,3819.975953,1.976420e+06,(POLYGON ((3104692.752993943 10150897.72012688...,1.256484e+05

In [13]:
#rp_intersection.crs

In [14]:
#rp_intersection.columns

In [15]:
rp_intersection[['GEOID10','Total_POP','fullarea_race','LOCATION_N','fullarea_buff','area_intersec','geometry']]

,GEOID10,Total_POP,fullarea_race,LOCATION_N,fullarea_buff,area_intersec,geometry
2,484530001011,1045,1.023445e+07,Shoal Creek Greenbelt,2.083222e+07,1.937863e+06,(POLYGON ((3112577.691601556 10092106.43546127...
7,484530001013,2016,1.151098e+07,Shoal Creek Greenbelt,2.083222e+07,1.598405e+06,"(POLYGON ((3111956.64230204 10087345.37179527,..."
21,484530002041,1113,5.533474e+06,Shoal Creek Greenbelt,2.083222e+07,4.060094e+05,"POLYGON ((3112579.183619359 10081465.39038167,..."
24,484530002042,1255,5.936942e+06,Shoal Creek Greenbelt,2.083222e+07,8.211498e+05,(POLYGON ((3112506.819622439 10086223.64617552...
30,484530002043,692,8.170845e+06,Shoal Creek Greenbelt,2.083222e+07,1.578661e+06,"(POLYGON ((3112746.76010764 10081979.97962928,..."
...,...,...,...,...,...,...,...
1546,484910204083,835,9.487768e+05,Springwoods Neighborhood Park,1.690157e+06,1.043275e+05,"POLYGON ((3099958.623058978 10137136.64832762,..."
1544,484910204081,1797,1.660166e+07,Forest North Neighborhood Park,1.070334e+06,8.736948e+05,"POLYGON ((3100175.699942151 10143570.94554518,..."
1547,484910205081,3775,3.682212e+07,Davis Spring Special Park,1.976420e+06,1.688160e+05,(POLYGON ((3104261.391998203 10149293.93935596...
1551,484910205101,4695,3.462268e+07,Davis Spring Special Park,1.976420e+06,1.681954e+06,"POLYGON ((3105146.529438308 10149196.16067607,..."
1553,484910205103,929,3.727163e+06,Davis Spring Special Park,1.976420e+06,1.256484e+05,(POLYGON ((3104692.752993943 10150897.72012688...

In [16]:
race_clip=rp_intersection.copy().reset_index()

for val in race_clip:

    race_clip['weight'] = race_clip['area_intersec']/ race_clip['fullarea_race']
    
    race_clip['access_pop'] = race_clip['weight'] * race_clip['Total_POP']
    race_clip['access_nonhis'] = race_clip['weight'] * race_clip['Not Hispan']
    race_clip['access_white'] = race_clip['weight'] * race_clip['White; Not']
    race_clip['access_his_lat'] = race_clip['weight'] * race_clip['Hispanic o']

race_clip.head()

,level_0,index,GEOID10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,city_name,jurisdicti,Id,...,Shape__Are,Shape__Len,fullarea_buff,geometry,area_intersec,weight,access_pop,access_nonhis,access_white,access_his_lat
0,2,2,484530001011,17128.0,0.0,+30.3353452,-097.7546582,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484530001011,...,3.514350e+06,56641.286637,2.083222e+07,(POLYGON ((3112577.691601556 10092106.43546127...,1.937863e+06,0.189347,197.867768,176.471541,167.761572,21.396228
1,7,4,484530001013,415563.0,0.0,+30.3158528,-097.7515898,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484530001013,...,3.514350e+06,56641.286637,2.083222e+07,"(POLYGON ((3111956.64230204 10087345.37179527,...",1.598405e+06,0.138859,279.940023,257.305983,242.170337,22.634040
2,21,8,484530002041,57831.0,0.0,+30.3027360,-097.7413860,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484530002041,...,3.514350e+06,56641.286637,2.083222e+07,"POLYGON ((3112579.183619359 10081465.39038167,...",4.060094e+05,0.073373,81.664523,70.071536,59.359029,11.592987
3,24,9,484530002042,16538.0,0.0,+30.3162020,-097.7451126,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484530002042,...,3.514350e+06,56641.286637,2.083222e+07,(POLYGON ((3112506.819622439 10086223.64617552...,8.211498e+05,0.138312,173.581460,152.419736,138.450232,21.161724
4,30,10,484530002043,61172.0,0.0,+30.3084751,-097.7470902,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484530002043,...,3.514350e+06,56641.286637,2.083222e+07,"(POLYGON ((3112746.76010764 10081979.97962928,...",1.578661e+06,0.193207,133.698975,109.354942,92.159554,24.344033

In [17]:
#race_clip.columns

In [18]:
race_calc = race_clip[['LOCATION_N', 'access_pop', 'access_nonhis','access_white', 'access_his_lat','area_intersec','geometry']]
access_data = race_calc.dissolve(by='LOCATION_N',as_index=False, aggfunc='sum')

In [19]:
access_data

,LOCATION_N,geometry,access_pop,access_nonhis,access_white,access_his_lat,area_intersec
0,A.B. Dittmar Neighborhood Park,"POLYGON ((3097020.310937755 10040423.29635413,...",247.977755,162.079414,128.683162,85.898341,1.584659e+06
1,Adams-Hemphill Neighborhood Park,"POLYGON ((3115850.357792675 10080502.90460191,...",1354.176164,1170.820941,935.254003,183.355223,2.685197e+06
2,Agave Neighborhood Park,"POLYGON ((3144770.981680033 10080963.49225345,...",335.671533,54.503339,31.352479,281.168194,2.184155e+06
3,Alamo Pocket Park,"POLYGON ((3121188.167724669 10076733.3592437, ...",115.493875,105.121175,59.412007,10.372700,9.592893e+05
4,Alderbrook Pocket Park,"POLYGON ((3127839.866424789 10124813.31840664,...",351.309776,247.539393,206.342036,103.770383,9.737850e+05
...,...,...,...,...,...,...,...
285,Wunneburger Neighborhood Park,(POLYGON ((3095156.226719216 10021252.69393206...,1.153109,0.701316,0.596572,0.451794,7.252597e+03
286,Yates Pocket Park,"POLYGON ((3128393.558881322 10059201.38858544,...",181.522781,77.983533,24.206194,103.539248,7.161417e+05
287,Yett Creek Neighborhood Park,"POLYGON ((3117185.845495133 10129921.9187002, ...",164.411123,147.521425,138.145237,16.889699,2.693960e+06
288,Zilker Metro Park,"(POLYGON ((3105748.96466563 10067644.87424662,...",664.774783,608.525777,543.164192,56.249006,4.797934e+06
289,Zilker Nature Preserve,"(POLYGON ((3102890.662981461 10071741.5256621,...",168.771660,158.385914,124.562163,10.385746,1.594502e+06

##### Combine the park area data to the access data

In [20]:
parks_ = quartbuff[['LOCATION_N','ASSET_SIZE']].copy()

In [21]:
parks_

                                            LOCATION_N  ASSET_SIZE
0                         Stratford Overlook Greenbelt    0.070000
1                           Highland Neighborhood Park    0.241000
2                              Palma Plaza Pocket Park    0.206600
3                             Oertli Neighborhood Park    6.000000
4                    Decker Tallgrass Prairie Preserve  347.991064
..                                                 ...         ...
294                        Red Bluff Neighborhood Park    7.196000
295                      MLK Station Neighborhood Park    7.917000
296  Louis RenÃ© Barrera Indiangrass Wildlife Sanct...  290.623199
297                             Garrison District Park   40.000000
298                          Davis Spring Special Park   14.472000

[299 rows x 2 columns]

In [22]:
access_data = access_data.merge(parks_, on='LOCATION_N')

In [23]:
access_data

,LOCATION_N,geometry,access_pop,access_nonhis,access_white,access_his_lat,area_intersec,ASSET_SIZE
0,A.B. Dittmar Neighborhood Park,"POLYGON ((3097020.310937755 10040423.29635413,...",247.977755,162.079414,128.683162,85.898341,1.584659e+06,12.690000
1,Adams-Hemphill Neighborhood Park,"POLYGON ((3115850.357792675 10080502.90460191,...",1354.176164,1170.820941,935.254003,183.355223,2.685197e+06,9.310000
2,Agave Neighborhood Park,"POLYGON ((3144770.981680033 10080963.49225345,...",335.671533,54.503339,31.352479,281.168194,2.184155e+06,16.360000
3,Alamo Pocket Park,"POLYGON ((3121188.167724669 10076733.3592437, ...",115.493875,105.121175,59.412007,10.372700,9.592893e+05,1.820000
4,Alderbrook Pocket Park,"POLYGON ((3127839.866424789 10124813.31840664,...",351.309776,247.539393,206.342036,103.770383,9.737850e+05,1.900000
...,...,...,...,...,...,...,...,...
286,Wunneburger Neighborhood Park,(POLYGON ((3095156.226719216 10021252.69393206...,1.153109,0.701316,0.596572,0.451794,7.252597e+03,23.510000
287,Yates Pocket Park,"POLYGON ((3128393.558881322 10059201.38858544,...",181.522781,77.983533,24.206194,103.539248,7.161417e+05,0.933800
288,Yett Creek Neighborhood Park,"POLYGON ((3117185.845495133 10129921.9187002, ...",164.411123,147.521425,138.145237,16.889699,2.693960e+06,40.545000
289,Zilker Metro Park,"(POLYGON ((3105748.96466563 10067644.87424662,...",664.774783,608.525777,543.164192,56.249006,4.797934e+06,307.849066
290,Zilker Nature Preserve,"(POLYGON ((3102890.662981461 10071741.5256621,...",168.771660,158.385914,124.562163,10.385746,1.594502e+06,77.390907

##### The population served by parks is nomalized by dividing the population served by the area of the park for which they are being served

In [24]:
access_data['Normalized_byArea'] = access_data['access_pop']/access_data['ASSET_SIZE']
access_data['Normalized_nonhis'] = access_data['access_nonhis']/access_data['ASSET_SIZE']
access_data['Normalized_white'] = access_data['access_white']/access_data['ASSET_SIZE']
access_data['Normalized_hislat'] = access_data['access_his_lat']/access_data['ASSET_SIZE']

In [25]:
access_data.to_file(wd+"data/access/access_data_race_ACS17.shp")
access_data

,LOCATION_N,geometry,access_pop,access_nonhis,access_white,access_his_lat,area_intersec,ASSET_SIZE,Normalized_byArea,Normalized_nonhis,Normalized_white,Normalized_hislat
0,A.B. Dittmar Neighborhood Park,"POLYGON ((3097020.310937755 10040423.29635413,...",247.977755,162.079414,128.683162,85.898341,1.584659e+06,12.690000,19.541194,12.772215,10.140517,6.768979
1,Adams-Hemphill Neighborhood Park,"POLYGON ((3115850.357792675 10080502.90460191,...",1354.176164,1170.820941,935.254003,183.355223,2.685197e+06,9.310000,145.453938,125.759500,100.456928,19.694439
2,Agave Neighborhood Park,"POLYGON ((3144770.981680033 10080963.49225345,...",335.671533,54.503339,31.352479,281.168194,2.184155e+06,16.360000,20.517820,3.331500,1.916411,17.186320
3,Alamo Pocket Park,"POLYGON ((3121188.167724669 10076733.3592437, ...",115.493875,105.121175,59.412007,10.372700,9.592893e+05,1.820000,63.458173,57.758887,32.643960,5.699286
4,Alderbrook Pocket Park,"POLYGON ((3127839.866424789 10124813.31840664,...",351.309776,247.539393,206.342036,103.770383,9.737850e+05,1.900000,184.899882,130.283891,108.601071,54.615991
...,...,...,...,...,...,...,...,...,...,...,...,...
286,Wunneburger Neighborhood Park,(POLYGON ((3095156.226719216 10021252.69393206...,1.153109,0.701316,0.596572,0.451794,7.252597e+03,23.510000,0.049048,0.029831,0.025375,0.019217
287,Yates Pocket Park,"POLYGON ((3128393.558881322 10059201.38858544,...",181.522781,77.983533,24.206194,103.539248,7.161417e+05,0.933800,194.391498,83.512029,25.922247,110.879469
288,Yett Creek Neighborhood Park,"POLYGON ((3117185.845495133 10129921.9187002, ...",164.411123,147.521425,138.145237,16.889699,2.693960e+06,40.545000,4.055028,3.638462,3.407208,0.416567
289,Zilker Metro Park,"(POLYGON ((3105748.96466563 10067644.87424662,...",664.774783,608.525777,543.164192,56.249006,4.797934e+06,307.849066,2.159418,1.976702,1.764385,0.182716
290,Zilker Nature Preserve,"(POLYGON ((3102890.662981461 10071741.5256621,...",168.771660,158.385914,124.562163,10.385746,1.594502e+06,77.390907,2.180769,2.046570,1.609519,0.134199

#### A dataframe is created with the 'acess_data' geoshapefile. This dataframe is cleaned up and the values are convereted into integers. Finally, we export the dataframe into a csv file and a shapefile.

In [26]:
df = pd.DataFrame(access_data)

df['Park_Name']=df['LOCATION_N']
df['Total_Pop_Served'] = df['access_pop'].astype(int)
df['Normalized_byArea'] = df['Normalized_byArea'].astype(int)
df['Non_Hispan'] = df['access_nonhis'].astype(int)
df['Normalized_nonhis'] = df['Normalized_nonhis'].astype(int)
df['White'] = df['access_white'].astype(int)
df['Normalized_white'] = df['Normalized_white'].astype(int)
df['Hispan_Latin'] = df['access_his_lat'].astype(int)
df['Normalized_hislat'] = df['Normalized_hislat'].astype(int)

df.head()

,LOCATION_N,geometry,access_pop,access_nonhis,access_white,access_his_lat,area_intersec,ASSET_SIZE,Normalized_byArea,Normalized_nonhis,Normalized_white,Normalized_hislat,Park_Name,Total_Pop_Served,Non_Hispan,White,Hispan_Latin
0,A.B. Dittmar Neighborhood Park,"POLYGON ((3097020.310937755 10040423.29635413,...",247.977755,162.079414,128.683162,85.898341,1.584659e+06,12.69,19,12,10,6,A.B. Dittmar Neighborhood Park,247,162,128,85
1,Adams-Hemphill Neighborhood Park,"POLYGON ((3115850.357792675 10080502.90460191,...",1354.176164,1170.820941,935.254003,183.355223,2.685197e+06,9.31,145,125,100,19,Adams-Hemphill Neighborhood Park,1354,1170,935,183
2,Agave Neighborhood Park,"POLYGON ((3144770.981680033 10080963.49225345,...",335.671533,54.503339,31.352479,281.168194,2.184155e+06,16.36,20,3,1,17,Agave Neighborhood Park,335,54,31,281
3,Alamo Pocket Park,"POLYGON ((3121188.167724669 10076733.3592437, ...",115.493875,105.121175,59.412007,10.372700,9.592893e+05,1.82,63,57,32,5,Alamo Pocket Park,115,105,59,10
4,Alderbrook Pocket Park,"POLYGON ((3127839.866424789 10124813.31840664,...",351.309776,247.539393,206.342036,103.770383,9.737850e+05,1.90,184,130,108,54,Alderbrook Pocket Park,351,247,206,103

Export to Shapefile

In [27]:
access_race_final = df.copy().drop(columns=['LOCATION_N','access_pop','access_nonhis','access_white','access_his_lat'])
access_race_final = gpd.GeoDataFrame(access_race_final, geometry='geometry')
access_race_final.to_file(wd+"data/access/access_race_final_ACS17.shp")
access_race_final.head()

,geometry,area_intersec,ASSET_SIZE,Normalized_byArea,Normalized_nonhis,Normalized_white,Normalized_hislat,Park_Name,Total_Pop_Served,Non_Hispan,White,Hispan_Latin
0,"POLYGON ((3097020.310937755 10040423.29635413,...",1.584659e+06,12.69,19,12,10,6,A.B. Dittmar Neighborhood Park,247,162,128,85
1,"POLYGON ((3115850.357792675 10080502.90460191,...",2.685197e+06,9.31,145,125,100,19,Adams-Hemphill Neighborhood Park,1354,1170,935,183
2,"POLYGON ((3144770.981680033 10080963.49225345,...",2.184155e+06,16.36,20,3,1,17,Agave Neighborhood Park,335,54,31,281
3,"POLYGON ((3121188.167724669 10076733.3592437, ...",9.592893e+05,1.82,63,57,32,5,Alamo Pocket Park,115,105,59,10
4,"POLYGON ((3127839.866424789 10124813.31840664,...",9.737850e+05,1.90,184,130,108,54,Alderbrook Pocket Park,351,247,206,103

Export to CSV

In [28]:
access_racetable = df.drop(columns=['LOCATION_N','access_pop','access_nonhis','access_white','access_his_lat', 'geometry'])
access_racetable.to_csv(wd+"data/access/access_table_race_ACS17.csv")
access_racetable.head()

,area_intersec,ASSET_SIZE,Normalized_byArea,Normalized_nonhis,Normalized_white,Normalized_hislat,Park_Name,Total_Pop_Served,Non_Hispan,White,Hispan_Latin
0,1.584659e+06,12.69,19,12,10,6,A.B. Dittmar Neighborhood Park,247,162,128,85
1,2.685197e+06,9.31,145,125,100,19,Adams-Hemphill Neighborhood Park,1354,1170,935,183
2,2.184155e+06,16.36,20,3,1,17,Agave Neighborhood Park,335,54,31,281
3,9.592893e+05,1.82,63,57,32,5,Alamo Pocket Park,115,105,59,10
4,9.737850e+05,1.90,184,130,108,54,Alderbrook Pocket Park,351,247,206,103

Descriptive Statistics

In [29]:
Race_access_stats = access_racetable.describe()
Race_access_stats.to_csv(wd+"data/access/access_stats_race_ACS17.csv")
Race_access_stats

,area_intersec,ASSET_SIZE,Normalized_byArea,Normalized_nonhis,Normalized_white,Normalized_hislat,Total_Pop_Served,Non_Hispan,White,Hispan_Latin
count,2.910000e+02,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000
mean,2.898852e+06,57.519620,94.326460,69.625430,57.360825,24.216495,428.931271,277.996564,208.835052,150.426117
std,4.079088e+06,172.058711,275.266304,248.897875,216.566921,53.540683,600.510572,417.313283,321.741190,267.056879
min,7.792233e-09,0.068466,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.025126e+06,3.231201,11.500000,7.500000,4.000000,1.000000,164.000000,99.500000,63.500000,21.500000
50%,1.524258e+06,8.360000,31.000000,19.000000,14.000000,6.000000,247.000000,158.000000,124.000000,69.000000
75%,2.835023e+06,29.330775,77.000000,45.500000,35.500000,22.500000,450.000000,262.000000,202.000000,160.500000
max,3.516439e+07,1885.441896,3663.000000,3566.000000,3058.000000,508.000000,5414.000000,4028.000000,3239.000000,2741.000000

In [30]:
#access_racetable.hist('');

### Run spatial analysis on the amount of people distributed within a census block group against the quarter mile park buffer area and the income census data

In [31]:
ip_intersection = gpd.overlay(income, quartbuff, how='intersection') #https://geopandas.org/set_operations.html
ip_intersection['iarea_intersec'] = ip_intersection['geometry'].area
ip_intersection.to_file(wd+"data/access/ip_intersec_quarterbuff_ACS17.shp")
ip_intersection

,index,GEOID10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,city_name,jurisdicti,Id,Id2,...,GLOBALID,CREATED_BY,CREATED_DA,MODIFIED_B,MODIFIED_D,Shape__Are,Shape__Len,fullarea_buff,geometry,iarea_intersec
2,2,484530001011,17128.0,0.0,+30.3353452,-097.7546582,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484530001011,484530001011,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,3.514350e+06,56641.286637,2.083222e+07,(POLYGON ((3112577.691601556 10092106.43546127...,1.937863e+06
7,4,484530001013,415563.0,0.0,+30.3158528,-097.7515898,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484530001013,484530001013,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,3.514350e+06,56641.286637,2.083222e+07,"(POLYGON ((3111956.64230204 10087345.37179527,...",1.598405e+06
21,8,484530002041,57831.0,0.0,+30.3027360,-097.7413860,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484530002041,484530002041,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,3.514350e+06,56641.286637,2.083222e+07,"POLYGON ((3112579.183619359 10081465.39038167,...",4.060094e+05
24,9,484530002042,16538.0,0.0,+30.3162020,-097.7451126,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484530002042,484530002042,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,3.514350e+06,56641.286637,2.083222e+07,(POLYGON ((3112506.819622439 10086223.64617552...,8.211498e+05
30,10,484530002043,61172.0,0.0,+30.3084751,-097.7470902,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484530002043,484530002043,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,3.514350e+06,56641.286637,2.083222e+07,"(POLYGON ((3112746.76010764 10081979.97962928,...",1.578661e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1546,542,484910204083,34157.0,0.0,+30.4530947,-097.7811364,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484910204083,484910204083,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,5.423833e+05,2970.882179,1.690157e+06,"POLYGON ((3099958.623058978 10137136.64832762,...",1.043275e+05
1544,540,484910204081,9762.0,0.0,+30.4597401,-097.7933842,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484910204081,484910204081,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,9.810471e+04,1492.002528,1.070334e+06,"POLYGON ((3100175.699942151 10143570.94554518,...",8.736948e+05
1547,552,484910205081,636722.0,850.0,+30.4840639,-097.7595422,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484910205081,484910205081,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,6.289057e+05,3819.975953,1.976420e+06,(POLYGON ((3104261.391998203 10149293.93935596...,1.688160e+05
1551,556,484910205101,2092.0,0.0,+30.4950296,-097.7673875,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484910205101,484910205101,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,6.289057e+05,3819.975953,1.976420e+06,"POLYGON ((3105146.529438308 10149196.16067607,...",1.681954e+06
1553,557,484910205103,14153.0,0.0,+30.4953417,-097.7716305,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484910205103,484910205103,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,6.289057e+05,3819.975953,1.976420e+06,(POLYGON ((3104692.752993943 10150897.72012688...,1.256484e+05

In [32]:
#ip_intersection.columns

In [33]:
ip_intersection[['GEOID10','Total_Pop','fullarea_income','LOCATION_N','fullarea_buff','iarea_intersec','geometry']]

,GEOID10,Total_Pop,fullarea_income,LOCATION_N,fullarea_buff,iarea_intersec,geometry
2,484530001011,396,1.023445e+07,Shoal Creek Greenbelt,2.083222e+07,1.937863e+06,(POLYGON ((3112577.691601556 10092106.43546127...
7,484530001013,1154,1.151098e+07,Shoal Creek Greenbelt,2.083222e+07,1.598405e+06,"(POLYGON ((3111956.64230204 10087345.37179527,..."
21,484530002041,604,5.533474e+06,Shoal Creek Greenbelt,2.083222e+07,4.060094e+05,"POLYGON ((3112579.183619359 10081465.39038167,..."
24,484530002042,635,5.936942e+06,Shoal Creek Greenbelt,2.083222e+07,8.211498e+05,(POLYGON ((3112506.819622439 10086223.64617552...
30,484530002043,324,8.170845e+06,Shoal Creek Greenbelt,2.083222e+07,1.578661e+06,"(POLYGON ((3112746.76010764 10081979.97962928,..."
...,...,...,...,...,...,...,...
1546,484910204083,280,9.487768e+05,Springwoods Neighborhood Park,1.690157e+06,1.043275e+05,"POLYGON ((3099958.623058978 10137136.64832762,..."
1544,484910204081,953,1.660166e+07,Forest North Neighborhood Park,1.070334e+06,8.736948e+05,"POLYGON ((3100175.699942151 10143570.94554518,..."
1547,484910205081,1733,3.682212e+07,Davis Spring Special Park,1.976420e+06,1.688160e+05,(POLYGON ((3104261.391998203 10149293.93935596...
1551,484910205101,1366,3.462268e+07,Davis Spring Special Park,1.976420e+06,1.681954e+06,"POLYGON ((3105146.529438308 10149196.16067607,..."
1553,484910205103,297,3.727163e+06,Davis Spring Special Park,1.976420e+06,1.256484e+05,(POLYGON ((3104692.752993943 10150897.72012688...

In [34]:
#ip_intersection.columns

In [35]:
income_clip=ip_intersection.copy().reset_index()

for val in income_clip:

    income_clip['weight'] = income_clip['iarea_intersec']/ income_clip['fullarea_income']
    
    income_clip['access_by_income_TotalPop'] = income_clip['weight'] * income_clip['Total_Pop']
    
    income_clip['Less than $25,000'] = (income_clip['weight'] * income_clip['Less than'])\
                                        +(income_clip['weight'] * income_clip['$10,000 to'])\
                                        +(income_clip['weight'] * income_clip['$15,000 to'])\
                                        +(income_clip['weight'] * income_clip['$20,000 to'])
    
    income_clip['$25,000 to $49,999'] = (income_clip['weight'] * income_clip['$25,000 to'])\
                                        +(income_clip['weight'] * income_clip['$30,000 to'])\
                                        +(income_clip['weight'] * income_clip['$35,000 to'])\
                                        +(income_clip['weight'] * income_clip['$40,000 to'])\
                                        +(income_clip['weight'] * income_clip['$45,000 to'])\
    
    income_clip['$50,000 to $74,999'] = (income_clip['weight'] * income_clip['$50,000 to'])\
                                        +(income_clip['weight'] * income_clip['$60,000 to'])\
    
    income_clip['$75,000 to $99,999'] = (income_clip['weight'] * income_clip['$75,000 to'])
    
    income_clip['$100,000 to $149,999'] = (income_clip['weight'] * income_clip['$100,000 t'])\
                                            +(income_clip['weight'] * income_clip['$125,000 t'])\
    
    income_clip['$150,000 or more'] = (income_clip['weight'] * income_clip['$150,000 t'])\
                                        +(income_clip['weight'] * income_clip['$200,000 o'])\
    
income_clip.head()

,level_0,index,GEOID10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,city_name,jurisdicti,Id,...,geometry,iarea_intersec,weight,access_by_income_TotalPop,"Less than $25,000","$25,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 or more"
0,2,2,484530001011,17128.0,0.0,+30.3353452,-097.7546582,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484530001011,...,(POLYGON ((3112577.691601556 10092106.43546127...,1.937863e+06,0.189347,74.981470,7.573886,7.384539,11.550176,10.603440,10.792787,27.076642
1,7,4,484530001013,415563.0,0.0,+30.3158528,-097.7515898,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484530001013,...,"(POLYGON ((3111956.64230204 10087345.37179527,...",1.598405e+06,0.138859,160.243445,22.495180,25.827800,33.326193,13.052759,35.270221,30.271292
2,21,8,484530002041,57831.0,0.0,+30.3027360,-097.7413860,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484530002041,...,"POLYGON ((3112579.183619359 10081465.39038167,...",4.060094e+05,0.073373,44.317495,21.498387,7.777574,4.842640,2.494693,1.173973,6.530227
3,24,9,484530002042,16538.0,0.0,+30.3162020,-097.7451126,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484530002042,...,(POLYGON ((3112506.819622439 10086223.64617552...,8.211498e+05,0.138312,87.828069,12.586385,10.096770,25.864329,4.287670,9.820146,25.172769
4,30,10,484530002043,61172.0,0.0,+30.3084751,-097.7470902,CITY OF AUSTIN,AUSTIN FULL PURPOSE,1500000US484530002043,...,"(POLYGON ((3112746.76010764 10081979.97962928,...",1.578661e+06,0.193207,62.598942,7.341851,8.694298,14.490496,1.545653,11.012777,19.513868

In [36]:
#income_clip.columns

In [37]:
income_calc = income_clip[['LOCATION_N', 'access_by_income_TotalPop', 'Less than $25,000','$25,000 to $49,999',\
                           '$50,000 to $74,999','$75,000 to $99,999','$100,000 to $149,999','$150,000 or more','geometry']]

income_access_data = income_calc.dissolve(by='LOCATION_N',as_index=False, aggfunc='sum')

In [38]:
income_calc = income_clip[['LOCATION_N', 'access_by_income_TotalPop', 'Less than $25,000','$25,000 to $49,999',\
                           '$50,000 to $74,999','$75,000 to $99,999','$100,000 to $149,999','$150,000 or more','geometry']]

income_access_data = income_calc.dissolve(by='LOCATION_N',as_index=False, aggfunc='sum')

##### Combine the park area data to the access data

In [39]:
income_access_data = income_access_data.merge(parks_, on='LOCATION_N')

In [40]:
income_access_data

,LOCATION_N,geometry,access_by_income_TotalPop,"Less than $25,000","$25,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 or more",ASSET_SIZE
0,A.B. Dittmar Neighborhood Park,"POLYGON ((3097020.310937755 10040423.29635413,...",102.834666,9.354009,41.084313,21.541404,11.188238,14.403537,5.263165,12.690000
1,Adams-Hemphill Neighborhood Park,"POLYGON ((3115850.357792675 10080502.90460191,...",458.919710,205.226014,92.107710,66.686500,47.202636,7.640704,40.056146,9.310000
2,Agave Neighborhood Park,"POLYGON ((3144770.981680033 10080963.49225345,...",78.763520,15.644272,37.344455,10.472224,6.239091,7.596189,1.467289,16.360000
3,Alamo Pocket Park,"POLYGON ((3121188.167724669 10076733.3592437, ...",56.422274,10.489195,12.656636,13.660992,3.467118,12.244006,3.904327,1.820000
4,Alderbrook Pocket Park,"POLYGON ((3127839.866424789 10124813.31840664,...",165.920274,20.371187,46.378518,44.191437,20.649941,29.151265,5.177926,1.900000
...,...,...,...,...,...,...,...,...,...,...
286,Wunneburger Neighborhood Park,(POLYGON ((3095156.226719216 10021252.69393206...,0.455983,0.043759,0.093105,0.070760,0.086821,0.103580,0.057958,23.510000
287,Yates Pocket Park,"POLYGON ((3128393.558881322 10059201.38858544,...",55.257182,26.144081,7.275642,8.080470,7.291754,4.750593,1.714643,0.933800
288,Yett Creek Neighborhood Park,"POLYGON ((3117185.845495133 10129921.9187002, ...",68.690008,1.682496,8.900429,8.330839,15.172962,16.210786,18.392498,40.545000
289,Zilker Metro Park,"(POLYGON ((3105748.96466563 10067644.87424662,...",387.483126,40.707872,74.103954,69.123757,55.130403,67.215116,81.202024,307.849066
290,Zilker Nature Preserve,"(POLYGON ((3102890.662981461 10071741.5256621,...",70.827569,14.013435,8.785722,7.936577,7.155454,9.265999,23.670382,77.390907

##### The population served by parks is nomalized by dividing the population served by the area of the park for which they are being served

In [41]:
income_access_data['TotalPop_Served_norm'] = income_access_data['access_by_income_TotalPop']/income_access_data['ASSET_SIZE']
income_access_data['Less than $25,000_norm'] = income_access_data['Less than $25,000']/income_access_data['ASSET_SIZE']
income_access_data['$25,000 to $49,999_norm'] = income_access_data['$25,000 to $49,999']/income_access_data['ASSET_SIZE']
income_access_data['$50,000 to $74,999_norm'] = income_access_data['$50,000 to $74,999']/income_access_data['ASSET_SIZE']
income_access_data['$75,000 to $99,999_norm'] = income_access_data['$75,000 to $99,999']/income_access_data['ASSET_SIZE']
income_access_data['$100,000 to $149,999_norm'] = income_access_data['$100,000 to $149,999']/income_access_data['ASSET_SIZE']
income_access_data['$150,000 or more_norm'] = income_access_data['$150,000 or more']/income_access_data['ASSET_SIZE']

In [42]:
income_access_data.to_file(wd+"data/access/access_data_income_ACS17.shp")
income_access_data

,LOCATION_N,geometry,access_by_income_TotalPop,"Less than $25,000","$25,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 or more",ASSET_SIZE,TotalPop_Served_norm,"Less than $25,000_norm","$25,000 to $49,999_norm","$50,000 to $74,999_norm","$75,000 to $99,999_norm","$100,000 to $149,999_norm","$150,000 or more_norm"
0,A.B. Dittmar Neighborhood Park,"POLYGON ((3097020.310937755 10040423.29635413,...",102.834666,9.354009,41.084313,21.541404,11.188238,14.403537,5.263165,12.690000,8.103599,0.737117,3.237535,1.697510,0.881658,1.135030,0.414749
1,Adams-Hemphill Neighborhood Park,"POLYGON ((3115850.357792675 10080502.90460191,...",458.919710,205.226014,92.107710,66.686500,47.202636,7.640704,40.056146,9.310000,49.293202,22.043611,9.893417,7.162889,5.070101,0.820699,4.302486
2,Agave Neighborhood Park,"POLYGON ((3144770.981680033 10080963.49225345,...",78.763520,15.644272,37.344455,10.472224,6.239091,7.596189,1.467289,16.360000,4.814396,0.956251,2.282668,0.640112,0.381363,0.464315,0.089688
3,Alamo Pocket Park,"POLYGON ((3121188.167724669 10076733.3592437, ...",56.422274,10.489195,12.656636,13.660992,3.467118,12.244006,3.904327,1.820000,31.001249,5.763294,6.954195,7.506040,1.905010,6.727476,2.145235
4,Alderbrook Pocket Park,"POLYGON ((3127839.866424789 10124813.31840664,...",165.920274,20.371187,46.378518,44.191437,20.649941,29.151265,5.177926,1.900000,87.326460,10.721677,24.409746,23.258651,10.868390,15.342771,2.725224
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,Wunneburger Neighborhood Park,(POLYGON ((3095156.226719216 10021252.69393206...,0.455983,0.043759,0.093105,0.070760,0.086821,0.103580,0.057958,23.510000,0.019395,0.001861,0.003960,0.003010,0.003693,0.004406,0.002465
287,Yates Pocket Park,"POLYGON ((3128393.558881322 10059201.38858544,...",55.257182,26.144081,7.275642,8.080470,7.291754,4.750593,1.714643,0.933800,59.174537,27.997517,7.791435,8.653319,7.808689,5.087377,1.836200
288,Yett Creek Neighborhood Park,"POLYGON ((3117185.845495133 10129921.9187002, ...",68.690008,1.682496,8.900429,8.330839,15.172962,16.210786,18.392498,40.545000,1.694167,0.041497,0.219520,0.205471,0.374225,0.399822,0.453632
289,Zilker Metro Park,"(POLYGON ((3105748.96466563 10067644.87424662,...",387.483126,40.707872,74.103954,69.123757,55.130403,67.215116,81.202024,307.849066,1.258679,0.132233,0.240715,0.224538,0.179083,0.218338,0.263772
290,Zilker Nature Preserve,"(POLYGON ((3102890.662981461 10071741.5256621,...",70.827569,14.013435,8.785722,7.936577,7.155454,9.265999,23.670382,77.390907,0.915192,0.181073,0.113524,0.102552,0.092459,0.119730,0.305855

#### A dataframe is created with the 'acess_data' geoshapefile. This dataframe is cleaned up and the values are convereted into integers. Finally, we export the dataframe into a csv file and a shapefile.

In [43]:
df = pd.DataFrame(income_access_data)
df['Park_Name']=df['LOCATION_N']

df['Total Pop Served'] = df['access_by_income_TotalPop'].astype(int)
df['TotalPop_Served_norm'] = df['TotalPop_Served_norm'].astype(int)

df['Less than $25,000'] = df['Less than $25,000'].astype(int)
df['Less than $25,000_norm'] = df['Less than $25,000_norm'].astype(int)

df['$25,000 to $49,999'] = df['$25,000 to $49,999'].astype(int)
df['$25,000 to $49,999_norm'] = df['$25,000 to $49,999_norm'].astype(int)

df['$50,000 to $74,999'] = df['$50,000 to $74,999'].astype(int)
df['$50,000 to $74,999_norm'] = df['$50,000 to $74,999_norm'].astype(int)

df['$75,000 to $99,999'] = df['$75,000 to $99,999'].astype(int)
df['$75,000 to $99,999_norm'] = df['$75,000 to $99,999_norm'].astype(int)

df['$100,000 to $149,999'] = df['$100,000 to $149,999'].astype(int)
df['$100,000 to $149,999_norm'] = df['$100,000 to $149,999_norm'].astype(int)

df['$150,000 or more'] = df['$150,000 or more'].astype(int)
df['$150,000 or more_norm'] = df['$150,000 or more_norm'].astype(int)

In [44]:
access_income_final = df.copy().drop(columns=['access_by_income_TotalPop'])
access_income_final = gpd.GeoDataFrame(access_income_final, geometry='geometry')
access_income_final.to_file(wd+"data/access/access_income_final_ACS17.shp")
access_income_final.head()

,LOCATION_N,geometry,"Less than $25,000","$25,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 or more",ASSET_SIZE,TotalPop_Served_norm,"Less than $25,000_norm","$25,000 to $49,999_norm","$50,000 to $74,999_norm","$75,000 to $99,999_norm","$100,000 to $149,999_norm","$150,000 or more_norm",Park_Name,Total Pop Served
0,A.B. Dittmar Neighborhood Park,"POLYGON ((3097020.310937755 10040423.29635413,...",9,41,21,11,14,5,12.69,8,0,3,1,0,1,0,A.B. Dittmar Neighborhood Park,102
1,Adams-Hemphill Neighborhood Park,"POLYGON ((3115850.357792675 10080502.90460191,...",205,92,66,47,7,40,9.31,49,22,9,7,5,0,4,Adams-Hemphill Neighborhood Park,458
2,Agave Neighborhood Park,"POLYGON ((3144770.981680033 10080963.49225345,...",15,37,10,6,7,1,16.36,4,0,2,0,0,0,0,Agave Neighborhood Park,78
3,Alamo Pocket Park,"POLYGON ((3121188.167724669 10076733.3592437, ...",10,12,13,3,12,3,1.82,31,5,6,7,1,6,2,Alamo Pocket Park,56
4,Alderbrook Pocket Park,"POLYGON ((3127839.866424789 10124813.31840664,...",20,46,44,20,29,5,1.90,87,10,24,23,10,15,2,Alderbrook Pocket Park,165

In [45]:
access_incometable = df.drop(columns=['access_by_income_TotalPop','geometry'])
access_incometable.to_csv(wd+"data/access/access_table_income_ACS17.csv")
access_incometable.head()

,LOCATION_N,"Less than $25,000","$25,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 or more",ASSET_SIZE,TotalPop_Served_norm,"Less than $25,000_norm","$25,000 to $49,999_norm","$50,000 to $74,999_norm","$75,000 to $99,999_norm","$100,000 to $149,999_norm","$150,000 or more_norm",Park_Name,Total Pop Served
0,A.B. Dittmar Neighborhood Park,9,41,21,11,14,5,12.69,8,0,3,1,0,1,0,A.B. Dittmar Neighborhood Park,102
1,Adams-Hemphill Neighborhood Park,205,92,66,47,7,40,9.31,49,22,9,7,5,0,4,Adams-Hemphill Neighborhood Park,458
2,Agave Neighborhood Park,15,37,10,6,7,1,16.36,4,0,2,0,0,0,0,Agave Neighborhood Park,78
3,Alamo Pocket Park,10,12,13,3,12,3,1.82,31,5,6,7,1,6,2,Alamo Pocket Park,56
4,Alderbrook Pocket Park,20,46,44,20,29,5,1.90,87,10,24,23,10,15,2,Alderbrook Pocket Park,165

In [46]:
access_income_stats = access_incometable.describe()
access_income_stats.to_csv(wd+"data/access/access_stats_income_ACS17.csv")
access_income_stats

,"Less than $25,000","$25,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 or more",ASSET_SIZE,TotalPop_Served_norm,"Less than $25,000_norm","$25,000 to $49,999_norm","$50,000 to $74,999_norm","$75,000 to $99,999_norm","$100,000 to $149,999_norm","$150,000 or more_norm",Total Pop Served
count,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000
mean,29.728522,35.701031,29.749141,20.402062,26.353952,27.951890,57.519620,41.336770,7.065292,7.161512,5.783505,3.879725,6.463918,8.907216,172.333333
std,47.796608,57.865092,49.056993,33.870543,39.352630,50.714186,172.058711,120.522412,21.088300,16.912290,13.883674,13.356490,25.114110,45.272146,239.915363
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.068466,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000000,9.000000,9.000000,5.000000,7.000000,5.000000,3.231201,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,66.500000
50%,16.000000,19.000000,17.000000,11.000000,14.000000,14.000000,8.360000,13.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,103.000000
75%,34.000000,39.500000,30.000000,20.000000,26.000000,28.500000,29.330775,31.500000,5.000000,6.000000,5.000000,3.000000,4.000000,4.000000,168.500000
max,510.000000,601.000000,571.000000,344.000000,303.000000,476.000000,1885.441896,1440.000000,246.000000,125.000000,120.000000,189.000000,337.000000,694.000000,2245.000000

### <font color=orange>Run spatial analysis on the amount of people distributed within a census block group against the quarter mile park buffer area and the age/sex census data</font>

In [47]:
age_intersection = gpd.overlay(age, quartbuff, how='intersection') #https://geopandas.org/set_operations.html
age_intersection['agearea_intersec'] = age_intersection['geometry'].area
age_intersection.to_file(wd+"data/access/age_intersec_quarterbuff_ACS17.shp")

age_intersection

,index,GEOID10,Id2,Total_pop_,Male,Male_Under,Male_5 to,Male_10 to,Male_15 to,Male_Und_1,...,GLOBALID,CREATED_BY,CREATED_DA,MODIFIED_B,MODIFIED_D,Shape__Are,Shape__Len,fullarea_buff,geometry,agearea_intersec
0,0,484530001011,484530001011,1045,515,72,35,39,30,176,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,3.514350e+06,56641.286637,2.083222e+07,(POLYGON ((3112577.691601556 10092106.43546127...,1.937863e+06
5,2,484530001013,484530001013,2016,797,43,52,23,0,118,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,3.514350e+06,56641.286637,2.083222e+07,"(POLYGON ((3111956.64230204 10087345.37179527,...",1.598405e+06
19,6,484530002041,484530002041,1113,768,7,24,28,0,59,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,3.514350e+06,56641.286637,2.083222e+07,"POLYGON ((3112579.183619359 10081465.39038167,...",4.060094e+05
22,7,484530002042,484530002042,1255,670,6,13,26,15,60,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,3.514350e+06,56641.286637,2.083222e+07,(POLYGON ((3112506.819622439 10086223.64617552...,8.211498e+05
28,8,484530002043,484530002043,692,266,23,0,0,11,34,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,3.514350e+06,56641.286637,2.083222e+07,"(POLYGON ((3112746.76010764 10081979.97962928,...",1.578661e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1544,540,484910204083,484910204083,835,432,73,40,24,0,137,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,5.423833e+05,2970.882179,1.690157e+06,"POLYGON ((3099958.623058978 10137136.64832762,...",1.043275e+05
1542,538,484910204081,484910204081,1797,904,35,85,47,17,184,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,9.810471e+04,1492.002528,1.070334e+06,"POLYGON ((3100175.699942151 10143570.94554518,...",8.736948e+05
1545,550,484910205081,484910205081,3775,1797,228,89,40,104,461,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,6.289057e+05,3819.975953,1.976420e+06,(POLYGON ((3104261.391998203 10149293.93935596...,1.688160e+05
1549,554,484910205101,484910205101,4695,2365,361,177,191,218,947,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,6.289057e+05,3819.975953,1.976420e+06,"POLYGON ((3105146.529438308 10149196.16067607,...",1.681954e+06
1551,555,484910205103,484910205103,929,512,11,23,27,28,89,...,None,CTM.Publisher,2019-10-12,CTM.Publisher,2019-10-12,6.289057e+05,3819.975953,1.976420e+06,(POLYGON ((3104692.752993943 10150897.72012688...,1.256484e+05

In [48]:
age_intersec=age_intersection.drop(['GLOBALID', 'CREATED_BY', 'CREATED_DA', 'MODIFIED_B', 'MODIFIED_D',
       'Shape__Are', 'Shape__Len', 'fullarea_buff','MXASSETNUM', 'MXLOCATION', 'MXSITEID', 'MXCREATION', 'MXSTATUS',
       'MXCONDITIO', 'MXPRIORITY', 'MXLOADID'], axis=1)

In [49]:
age_intersec.columns

Index(['index', 'GEOID10', 'Id2', 'Total_pop_', 'Male', 'Male_Under',
       'Male_5 to', 'Male_10 to', 'Male_15 to', 'Male_Und_1', 'Male_18 an',
       'Male_20 ye', 'Male_21 ye', 'Male_22 to', 'Male_25 to', 'Male_30 to',
       'Male_35 to', 'Male_40 to', 'Male_45 to', 'Male_50 to', 'Male_55 to',
       'Male_60 an', 'Male_62 to', 'Male_65 an', 'Male_67 to', 'Male_70 to',
       'Male_75 to', 'Male_80 to', 'Male85 yea', 'Male_Over6', 'Female_',
       'Female_Und', 'Female_5 t', 'Female_10', 'Female_15', 'Female_U_1',
       'Female_18', 'Estimate;', 'Estimate_1', 'Estimate_2', 'Estimate_3',
       'Estimate_4', 'Estimate_5', 'Estimate_6', 'Estimate_7', 'Estimate_8',
       'Estimate_9', 'Estimate10', 'Estimate11', 'Female_65', 'Female_67',
       'Female_70', 'Female75 t', 'Female80 t', 'Female85 y', 'Female_Ove',
       'fullarea_age', 'ASSET_MGMT', 'LOCATION_N', 'ADDRESS', 'CITY_MUNIC',
       'COUNTY', 'STATE', 'STREET_NUM', 'STREET_NAM', 'STREET_TYP', 'ZIPCODE',
       'ASSET_SIZE', 'ACRE_SOURC', 'UNIT_OF_ME', 'YEAR_ACQUI', 'ASSET_STAT',
       'DEVELOPMEN', 'TPL_LANDUS', 'PARK_TYPE', 'LEVEL_OF_S', 'LEVEL_OF_U',
       'SERVICE_AR', 'COUNCIL_DI', 'COUNCIL__1', 'MANAGEMENT', 'OWNER_NAME',
       'OWNER_TYPE', 'MANAGING_N', 'MANAGING_T', 'ACQUISITIO', 'ACQUISIT_1',
       'ACQUISIT_2', 'DEVELOPM_1', 'DEVELOPM_2', 'RESTRICTIO', 'LWCF_PROTE',
       'OTHER_PROT', 'REST_PROT_', 'COMMUNITY_', 'geometry',
       'agearea_intersec'],
      dtype='object')

In [50]:
age_intersection[['GEOID10','Total_pop_','fullarea_age','LOCATION_N','fullarea_buff','agearea_intersec','geometry']]

,GEOID10,Total_pop_,fullarea_age,LOCATION_N,fullarea_buff,agearea_intersec,geometry
0,484530001011,1045,1.023445e+07,Shoal Creek Greenbelt,2.083222e+07,1.937863e+06,(POLYGON ((3112577.691601556 10092106.43546127...
5,484530001013,2016,1.151098e+07,Shoal Creek Greenbelt,2.083222e+07,1.598405e+06,"(POLYGON ((3111956.64230204 10087345.37179527,..."
19,484530002041,1113,5.533474e+06,Shoal Creek Greenbelt,2.083222e+07,4.060094e+05,"POLYGON ((3112579.183619359 10081465.39038167,..."
22,484530002042,1255,5.936942e+06,Shoal Creek Greenbelt,2.083222e+07,8.211498e+05,(POLYGON ((3112506.819622439 10086223.64617552...
28,484530002043,692,8.170845e+06,Shoal Creek Greenbelt,2.083222e+07,1.578661e+06,"(POLYGON ((3112746.76010764 10081979.97962928,..."
...,...,...,...,...,...,...,...
1544,484910204083,835,9.487768e+05,Springwoods Neighborhood Park,1.690157e+06,1.043275e+05,"POLYGON ((3099958.623058978 10137136.64832762,..."
1542,484910204081,1797,1.660166e+07,Forest North Neighborhood Park,1.070334e+06,8.736948e+05,"POLYGON ((3100175.699942151 10143570.94554518,..."
1545,484910205081,3775,3.682212e+07,Davis Spring Special Park,1.976420e+06,1.688160e+05,(POLYGON ((3104261.391998203 10149293.93935596...
1549,484910205101,4695,3.462268e+07,Davis Spring Special Park,1.976420e+06,1.681954e+06,"POLYGON ((3105146.529438308 10149196.16067607,..."
1551,484910205103,929,3.727163e+06,Davis Spring Special Park,1.976420e+06,1.256484e+05,(POLYGON ((3104692.752993943 10150897.72012688...

In [51]:
age_intersec.columns

Index(['index', 'GEOID10', 'Id2', 'Total_pop_', 'Male', 'Male_Under',
       'Male_5 to', 'Male_10 to', 'Male_15 to', 'Male_Und_1', 'Male_18 an',
       'Male_20 ye', 'Male_21 ye', 'Male_22 to', 'Male_25 to', 'Male_30 to',
       'Male_35 to', 'Male_40 to', 'Male_45 to', 'Male_50 to', 'Male_55 to',
       'Male_60 an', 'Male_62 to', 'Male_65 an', 'Male_67 to', 'Male_70 to',
       'Male_75 to', 'Male_80 to', 'Male85 yea', 'Male_Over6', 'Female_',
       'Female_Und', 'Female_5 t', 'Female_10', 'Female_15', 'Female_U_1',
       'Female_18', 'Estimate;', 'Estimate_1', 'Estimate_2', 'Estimate_3',
       'Estimate_4', 'Estimate_5', 'Estimate_6', 'Estimate_7', 'Estimate_8',
       'Estimate_9', 'Estimate10', 'Estimate11', 'Female_65', 'Female_67',
       'Female_70', 'Female75 t', 'Female80 t', 'Female85 y', 'Female_Ove',
       'fullarea_age', 'ASSET_MGMT', 'LOCATION_N', 'ADDRESS', 'CITY_MUNIC',
       'COUNTY', 'STATE', 'STREET_NUM', 'STREET_NAM', 'STREET_TYP', 'ZIPCODE',
       'ASSET_SIZE', 'ACRE_SOURC', 'UNIT_OF_ME', 'YEAR_ACQUI', 'ASSET_STAT',
       'DEVELOPMEN', 'TPL_LANDUS', 'PARK_TYPE', 'LEVEL_OF_S', 'LEVEL_OF_U',
       'SERVICE_AR', 'COUNCIL_DI', 'COUNCIL__1', 'MANAGEMENT', 'OWNER_NAME',
       'OWNER_TYPE', 'MANAGING_N', 'MANAGING_T', 'ACQUISITIO', 'ACQUISIT_1',
       'ACQUISIT_2', 'DEVELOPM_1', 'DEVELOPM_2', 'RESTRICTIO', 'LWCF_PROTE',
       'OTHER_PROT', 'REST_PROT_', 'COMMUNITY_', 'geometry',
       'agearea_intersec'],
      dtype='object')

In [52]:
age_clip=age_intersec.copy().reset_index()

for val in age_clip:

    age_clip['weight'] = age_clip['agearea_intersec']/ age_clip['fullarea_age']
    
    age_clip['Totalpop_served'] = age_clip['weight'] * age_clip['Total_pop_']
    age_clip['Males_served'] = age_clip['weight'] * age_clip['Male']
    age_clip['Males_served_Under5'] = age_clip['weight'] * age_clip['Male_Under']
    age_clip['Males_served_Under18'] = age_clip['weight'] * age_clip['Male_Und_1']
    age_clip['Males_served_Over65'] = age_clip['weight'] * age_clip['Male_Over6']
    
    age_clip['Females_served'] = age_clip['weight'] * age_clip['Female_']
    age_clip['Females_served_Under5'] = age_clip['weight'] * age_clip['Female_Und']
    age_clip['Females_served_Under18'] = age_clip['weight'] * age_clip['Female_U_1']
    age_clip['Females_served_Over65'] = age_clip['weight'] * age_clip['Female_Ove']
        
age_clip.head()

,level_0,index,GEOID10,Id2,Total_pop_,Male,Male_Under,Male_5 to,Male_10 to,Male_15 to,...,weight,Totalpop_served,Males_served,Males_served_Under5,Males_served_Under18,Males_served_Over65,Females_served,Females_served_Under5,Females_served_Under18,Females_served_Over65
0,0,0,484530001011,484530001011,1045,515,72,35,39,30,...,0.189347,197.867768,97.513780,13.632995,33.325098,12.307565,100.353988,4.544332,18.177326,8.520622
1,5,2,484530001013,484530001013,2016,797,43,52,23,0,...,0.138859,279.940023,110.670733,5.970943,16.385378,19.162561,169.269289,9.442421,21.245448,55.265937
2,19,6,484530002041,484530002041,1113,768,7,24,28,0,...,0.073373,81.664523,56.350722,0.513613,4.329027,1.467467,25.313801,1.981080,4.255653,1.100600
3,22,7,484530002042,484530002042,1255,670,6,13,26,15,...,0.138312,173.581460,92.668986,0.829872,8.298715,17.703926,80.912473,3.042862,13.139632,17.980550
4,28,8,484530002043,484530002043,692,266,23,0,0,11,...,0.193207,133.698975,51.392959,4.443752,6.569025,10.046744,82.306017,6.762231,24.730446,1.932066

In [53]:
#income_clip.columns

In [54]:
age_calc = age_clip[['LOCATION_N', 'Totalpop_served', 'Males_served','Males_served_Under5','Males_served_Under18',\
                     'Males_served_Over65','Females_served','Females_served_Under5','Females_served_Under18',\
                     'Females_served_Over65','geometry']]

age_access_data = age_calc.dissolve(by='LOCATION_N',as_index=False, aggfunc='sum')

##### Combine the park area data to the access data

In [55]:
age_access_data = age_access_data.merge(parks_, on='LOCATION_N')

In [56]:
age_access_data

,LOCATION_N,geometry,Totalpop_served,Males_served,Males_served_Under5,Males_served_Under18,Males_served_Over65,Females_served,Females_served_Under5,Females_served_Under18,Females_served_Over65,ASSET_SIZE
0,A.B. Dittmar Neighborhood Park,"POLYGON ((3097020.310937755 10040423.29635413,...",247.977755,126.961750,12.144682,26.324471,7.653693,121.016005,3.916763,13.064978,11.689040,12.690000
1,Adams-Hemphill Neighborhood Park,"POLYGON ((3115850.357792675 10080502.90460191,...",1354.176164,564.054268,0.015953,14.119393,24.653418,790.121895,22.793851,61.748499,0.034184,9.310000
2,Agave Neighborhood Park,"POLYGON ((3144770.981680033 10080963.49225345,...",335.671533,165.104052,25.185887,64.141620,5.814102,170.567481,23.350738,72.928164,7.989542,16.360000
3,Alamo Pocket Park,"POLYGON ((3121188.167724669 10076733.3592437, ...",115.493875,67.792269,3.019045,3.027464,2.163639,47.701606,0.004889,0.027567,7.905322,1.820000
4,Alderbrook Pocket Park,"POLYGON ((3127839.866424789 10124813.31840664,...",351.309776,146.764137,7.031359,16.546967,0.000000,204.545639,14.134931,30.845836,25.977719,1.900000
...,...,...,...,...,...,...,...,...,...,...,...,...
286,Wunneburger Neighborhood Park,(POLYGON ((3095156.226719216 10021252.69393206...,1.153109,0.580046,0.038173,0.114752,0.063544,0.573063,0.022345,0.104278,0.068432,23.510000
287,Yates Pocket Park,"POLYGON ((3128393.558881322 10059201.38858544,...",181.522781,99.063627,7.955542,20.991585,2.153803,82.459154,1.717815,16.546949,5.632885,0.933800
288,Yett Creek Neighborhood Park,"POLYGON ((3117185.845495133 10129921.9187002, ...",164.411123,85.506034,4.472264,12.609323,13.686579,78.905090,5.647577,13.170947,14.334993,40.545000
289,Zilker Metro Park,"(POLYGON ((3105748.96466563 10067644.87424662,...",664.774783,332.462762,17.352129,33.498003,26.723054,332.312021,24.754353,41.933914,29.085736,307.849066
290,Zilker Nature Preserve,"(POLYGON ((3102890.662981461 10071741.5256621,...",168.771660,88.623135,5.054201,20.648338,10.707132,80.148525,3.200690,14.012410,17.412217,77.390907

In [57]:
age_access_data.columns

Index(['LOCATION_N', 'geometry', 'Totalpop_served', 'Males_served',
       'Males_served_Under5', 'Males_served_Under18', 'Males_served_Over65',
       'Females_served', 'Females_served_Under5', 'Females_served_Under18',
       'Females_served_Over65', 'ASSET_SIZE'],
      dtype='object')

##### The population served by parks is nomalized by dividing the population served by the area of the park for which they are being served

In [58]:
age_access_data['Totalpop_served_norm'] = age_access_data['Totalpop_served']/age_access_data['ASSET_SIZE']
age_access_data['Males_served_norm'] = age_access_data['Males_served']/age_access_data['ASSET_SIZE']
age_access_data['Males_served_Under5_norm'] = age_access_data['Males_served_Under5']/age_access_data['ASSET_SIZE']
age_access_data['Males_served_Under18_norm'] = age_access_data['Males_served_Under18']/age_access_data['ASSET_SIZE']
age_access_data['Males_served_Over65_norm'] = age_access_data['Males_served_Over65']/age_access_data['ASSET_SIZE']

age_access_data['Females_served_norm'] = age_access_data['Females_served']/age_access_data['ASSET_SIZE']
age_access_data['Females_served_Under5_norm'] = age_access_data['Females_served_Under5']/age_access_data['ASSET_SIZE']
age_access_data['Females_served_Under18_norm'] = age_access_data['Females_served_Under18']/age_access_data['ASSET_SIZE']
age_access_data['Females_served_Over65_norm'] = age_access_data['Females_served_Over65']/age_access_data['ASSET_SIZE']

age_access_data['Under5_served'] = age_access_data['Males_served_Under5'] + age_access_data['Females_served_Under5']
age_access_data['Under5_served_norm'] = age_access_data['Under5_served']/age_access_data['ASSET_SIZE']

age_access_data['Under18_served'] = age_access_data['Males_served_Under18'] + age_access_data['Females_served_Under18']
age_access_data['Under18_served_norm'] = age_access_data['Under18_served']/age_access_data['ASSET_SIZE']

age_access_data['Over65_served'] = age_access_data['Males_served_Over65'] + age_access_data['Females_served_Over65']
age_access_data['Over65_served_norm'] = age_access_data['Over65_served']/age_access_data['ASSET_SIZE']

In [59]:
age_access_data.to_file(wd+"data/access/access_data_age_sex_ACS17.shp")
age_access_data

,LOCATION_N,geometry,Totalpop_served,Males_served,Males_served_Under5,Males_served_Under18,Males_served_Over65,Females_served,Females_served_Under5,Females_served_Under18,...,Females_served_norm,Females_served_Under5_norm,Females_served_Under18_norm,Females_served_Over65_norm,Under5_served,Under5_served_norm,Under18_served,Under18_served_norm,Over65_served,Over65_served_norm
0,A.B. Dittmar Neighborhood Park,"POLYGON ((3097020.310937755 10040423.29635413,...",247.977755,126.961750,12.144682,26.324471,7.653693,121.016005,3.916763,13.064978,...,9.536328,0.308650,1.029549,0.921122,16.061445,1.265677,39.389450,3.103976,19.342733,1.524250
1,Adams-Hemphill Neighborhood Park,"POLYGON ((3115850.357792675 10080502.90460191,...",1354.176164,564.054268,0.015953,14.119393,24.653418,790.121895,22.793851,61.748499,...,84.868088,2.448319,6.632492,0.003672,22.809804,2.450033,75.867892,8.149075,24.687603,2.651730
2,Agave Neighborhood Park,"POLYGON ((3144770.981680033 10080963.49225345,...",335.671533,165.104052,25.185887,64.141620,5.814102,170.567481,23.350738,72.928164,...,10.425885,1.427307,4.457712,0.488358,48.536626,2.966786,137.069785,8.378349,13.803644,0.843744
3,Alamo Pocket Park,"POLYGON ((3121188.167724669 10076733.3592437, ...",115.493875,67.792269,3.019045,3.027464,2.163639,47.701606,0.004889,0.027567,...,26.209674,0.002686,0.015147,4.343583,3.023934,1.661502,3.055032,1.678589,10.068960,5.532396
4,Alderbrook Pocket Park,"POLYGON ((3127839.866424789 10124813.31840664,...",351.309776,146.764137,7.031359,16.546967,0.000000,204.545639,14.134931,30.845836,...,107.655599,7.439438,16.234650,13.672484,21.166290,11.140153,47.392802,24.943580,25.977719,13.672484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,Wunneburger Neighborhood Park,(POLYGON ((3095156.226719216 10021252.69393206...,1.153109,0.580046,0.038173,0.114752,0.063544,0.573063,0.022345,0.104278,...,0.024375,0.000950,0.004435,0.002911,0.060518,0.002574,0.219030,0.009316,0.131977,0.005614
287,Yates Pocket Park,"POLYGON ((3128393.558881322 10059201.38858544,...",181.522781,99.063627,7.955542,20.991585,2.153803,82.459154,1.717815,16.546949,...,88.304941,1.839596,17.720014,6.032218,9.673357,10.359131,37.538534,40.199757,7.786688,8.338711
288,Yett Creek Neighborhood Park,"POLYGON ((3117185.845495133 10129921.9187002, ...",164.411123,85.506034,4.472264,12.609323,13.686579,78.905090,5.647577,13.170947,...,1.946111,0.139292,0.324848,0.353558,10.119841,0.249595,25.780270,0.635843,28.021572,0.691123
289,Zilker Metro Park,"(POLYGON ((3105748.96466563 10067644.87424662,...",664.774783,332.462762,17.352129,33.498003,26.723054,332.312021,24.754353,41.933914,...,1.079464,0.080411,0.136216,0.094481,42.106482,0.136776,75.431917,0.245029,55.808790,0.181286
290,Zilker Nature Preserve,"(POLYGON ((3102890.662981461 10071741.5256621,...",168.771660,88.623135,5.054201,20.648338,10.707132,80.148525,3.200690,14.012410,...,1.035632,0.041357,0.181060,0.224990,8.254890,0.106665,34.660748,0.447866,28.119349,0.363342

#### A dataframe is created with the 'acess_data' geoshapefile. This dataframe is cleaned up and the values are convereted into integers. Finally, we export the dataframe into a csv file and a shapefile.

In [60]:
age_access_data.columns

Index(['LOCATION_N', 'geometry', 'Totalpop_served', 'Males_served',
       'Males_served_Under5', 'Males_served_Under18', 'Males_served_Over65',
       'Females_served', 'Females_served_Under5', 'Females_served_Under18',
       'Females_served_Over65', 'ASSET_SIZE', 'Totalpop_served_norm',
       'Males_served_norm', 'Males_served_Under5_norm',
       'Males_served_Under18_norm', 'Males_served_Over65_norm',
       'Females_served_norm', 'Females_served_Under5_norm',
       'Females_served_Under18_norm', 'Females_served_Over65_norm',
       'Under5_served', 'Under5_served_norm', 'Under18_served',
       'Under18_served_norm', 'Over65_served', 'Over65_served_norm'],
      dtype='object')

In [61]:
df = pd.DataFrame(age_access_data)
df['Park_Name']=df['LOCATION_N']

df['Totalpop_served'] = df['Totalpop_served'].astype(int)
df['Totalpop_served_norm'] = df['Totalpop_served_norm'].astype(int)

df['Males_served'] = df['Males_served'].astype(int)
df['Males_served_norm'] = df['Males_served_norm'].astype(int)

df['Males_served_Under5'] = df['Males_served_Under5'].astype(int)
df['Males_served_Under5_norm'] = df['Males_served_Under5_norm'].astype(int)

df['Males_served_Under18'] = df['Males_served_Under18'].astype(int)
df['Males_served_Under18_norm'] = df['Males_served_Under18_norm'].astype(int)

df['Males_served_Over65'] = df['Males_served_Over65'].astype(int)
df['Males_served_Over65_norm'] = df['Males_served_Over65_norm'].astype(int)

df['Females_served'] = df['Females_served'].astype(int)
df['Females_served_norm'] = df['Females_served_norm'].astype(int)

df['Females_served_Under5'] = df['Females_served_Under5'].astype(int)
df['Females_served_Under5_norm'] = df['Females_served_Under5_norm'].astype(int)

df['Females_served_Under18'] = df['Females_served_Under18'].astype(int)
df['Females_served_Under18_norm'] = df['Females_served_Under18_norm'].astype(int)

df['Females_served_Over65'] = df['Females_served_Over65'].astype(int)
df['Females_served_Over65_norm'] = df['Females_served_Over65_norm'].astype(int)

df['Under5_served'] = df['Under5_served'].astype(int)
df['Under5_served_norm'] = df['Under5_served_norm'].astype(int)

df['Under18_served'] = df['Under18_served'].astype(int)
df['Under18_served_norm'] = df['Under18_served_norm'].astype(int)

df['Over65_served'] = df['Over65_served'].astype(int)
df['Over65_served_norm'] = df['Over65_served_norm'].astype(int)

In [62]:
df.columns

Index(['LOCATION_N', 'geometry', 'Totalpop_served', 'Males_served',
       'Males_served_Under5', 'Males_served_Under18', 'Males_served_Over65',
       'Females_served', 'Females_served_Under5', 'Females_served_Under18',
       'Females_served_Over65', 'ASSET_SIZE', 'Totalpop_served_norm',
       'Males_served_norm', 'Males_served_Under5_norm',
       'Males_served_Under18_norm', 'Males_served_Over65_norm',
       'Females_served_norm', 'Females_served_Under5_norm',
       'Females_served_Under18_norm', 'Females_served_Over65_norm',
       'Under5_served', 'Under5_served_norm', 'Under18_served',
       'Under18_served_norm', 'Over65_served', 'Over65_served_norm',
       'Park_Name'],
      dtype='object')

In [63]:
access_age_final = df.copy()
access_age_final = gpd.GeoDataFrame(access_age_final, geometry='geometry')
access_age_final.to_file(wd+"data/access/access_age_final_ACS17.shp")
access_age_final.head()

,LOCATION_N,geometry,Totalpop_served,Males_served,Males_served_Under5,Males_served_Under18,Males_served_Over65,Females_served,Females_served_Under5,Females_served_Under18,...,Females_served_Under5_norm,Females_served_Under18_norm,Females_served_Over65_norm,Under5_served,Under5_served_norm,Under18_served,Under18_served_norm,Over65_served,Over65_served_norm,Park_Name
0,A.B. Dittmar Neighborhood Park,"POLYGON ((3097020.310937755 10040423.29635413,...",247,126,12,26,7,121,3,13,...,0,1,0,16,1,39,3,19,1,A.B. Dittmar Neighborhood Park
1,Adams-Hemphill Neighborhood Park,"POLYGON ((3115850.357792675 10080502.90460191,...",1354,564,0,14,24,790,22,61,...,2,6,0,22,2,75,8,24,2,Adams-Hemphill Neighborhood Park
2,Agave Neighborhood Park,"POLYGON ((3144770.981680033 10080963.49225345,...",335,165,25,64,5,170,23,72,...,1,4,0,48,2,137,8,13,0,Agave Neighborhood Park
3,Alamo Pocket Park,"POLYGON ((3121188.167724669 10076733.3592437, ...",115,67,3,3,2,47,0,0,...,0,0,4,3,1,3,1,10,5,Alamo Pocket Park
4,Alderbrook Pocket Park,"POLYGON ((3127839.866424789 10124813.31840664,...",351,146,7,16,0,204,14,30,...,7,16,13,21,11,47,24,25,13,Alderbrook Pocket Park

In [64]:
access_agetable = df.drop(columns=['geometry'])
access_agetable.to_csv(wd+"data/access/access_table_age_ACS17.csv")
access_agetable.head()

,LOCATION_N,Totalpop_served,Males_served,Males_served_Under5,Males_served_Under18,Males_served_Over65,Females_served,Females_served_Under5,Females_served_Under18,Females_served_Over65,...,Females_served_Under5_norm,Females_served_Under18_norm,Females_served_Over65_norm,Under5_served,Under5_served_norm,Under18_served,Under18_served_norm,Over65_served,Over65_served_norm,Park_Name
0,A.B. Dittmar Neighborhood Park,247,126,12,26,7,121,3,13,11,...,0,1,0,16,1,39,3,19,1,A.B. Dittmar Neighborhood Park
1,Adams-Hemphill Neighborhood Park,1354,564,0,14,24,790,22,61,0,...,2,6,0,22,2,75,8,24,2,Adams-Hemphill Neighborhood Park
2,Agave Neighborhood Park,335,165,25,64,5,170,23,72,7,...,1,4,0,48,2,137,8,13,0,Agave Neighborhood Park
3,Alamo Pocket Park,115,67,3,3,2,47,0,0,7,...,0,0,4,3,1,3,1,10,5,Alamo Pocket Park
4,Alderbrook Pocket Park,351,146,7,16,0,204,14,30,25,...,7,16,13,21,11,47,24,25,13,Alderbrook Pocket Park

In [65]:
access_age_stats = access_agetable.describe()
access_age_stats.to_csv(wd+"data/access/access_stats_age_ACS17.csv")
access_age_stats

,Totalpop_served,Males_served,Males_served_Under5,Males_served_Under18,Males_served_Over65,Females_served,Females_served_Under5,Females_served_Under18,Females_served_Over65,ASSET_SIZE,...,Females_served_norm,Females_served_Under5_norm,Females_served_Under18_norm,Females_served_Over65_norm,Under5_served,Under5_served_norm,Under18_served,Under18_served_norm,Over65_served,Over65_served_norm
count,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,...,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000
mean,428.931271,220.621993,13.962199,45.020619,15.484536,207.776632,12.828179,42.106529,19.570447,57.519620,...,45.264605,2.536082,8.470790,4.687285,27.278351,5.254296,87.611684,16.982818,35.529210,8.113402
std,600.510572,311.121799,23.456532,71.208433,23.254713,291.265482,21.669095,64.999461,26.625455,172.058711,...,142.013921,9.771946,33.596208,26.246480,44.085906,16.567852,134.762129,64.904357,49.084182,37.697675
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.068466,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,164.000000,84.000000,2.000000,10.000000,5.000000,76.500000,3.000000,12.000000,5.000000,3.231201,...,5.000000,0.000000,0.000000,0.000000,6.000000,0.000000,23.000000,1.000000,11.000000,1.000000
50%,247.000000,125.000000,7.000000,23.000000,9.000000,121.000000,6.000000,22.000000,11.000000,8.360000,...,16.000000,0.000000,2.000000,1.000000,14.000000,1.000000,47.000000,4.000000,21.000000,2.000000
75%,450.000000,234.000000,17.000000,45.500000,18.000000,220.000000,14.000000,43.500000,23.000000,29.330775,...,36.000000,1.000000,7.000000,3.000000,29.000000,4.000000,87.000000,12.000000,39.000000,6.000000
max,5414.000000,2789.000000,189.000000,511.000000,194.000000,2625.000000,197.000000,545.000000,205.000000,1885.441896,...,1940.000000,142.000000,516.000000,414.000000,386.000000,222.000000,1033.000000,995.000000,398.000000,582.000000

### END OF CODE